[2019-05-29 13:14] nero120 commented on #94
Guys can you elaborate on how you can add the zip as I'm unable to add the extension in Chrome v74 after renaming the crx to zip. Are you dragging to `chrome://extensions/`? Is Developer Mode enabled? Cheers!

[2019-05-29 13:26] iTob191 commented on #64
Okay, when creating a folder with the name "|" everything does work fine for me. I forgot that one is supposed to create a folder instead of a bookmark.

When creating a bookmark (not folder) in chrome with name "|" and URL "chrome://newtab" or "about:newtab" it does actually appear as a separator in Firefox after syncing. Every other URL that I've tested syncs to a normal bookmark though.

Anyway

[2019-05-29 13:51] nero120 commented on #64
Thanks @iTob191! Just duplicated your process using v1.5.0beta6 and I managed to recreate. I suspected I fixed this subsequently after the last beta release and so re-tested using a build of latest source code and the error did not occur. 😄 I'll get another (hopefully final) beta release out this week which will include the fix.

Yes that is indeed expected.

[2019-05-29 14:25] ipk01 commented on #94
Yes ... your are right ... I just tried .. It does not seem to work anymore. Was probably a bug that they fixed with an update in the last weeks. Grrrrrr...

[2019-05-29 14:43] nero120 commented on #94
Damn. Ok in that case I think the only easy option is for me to provide a zip as stated in the OP. Will do so when I release the next (and hopefully final) beta this week.

[2019-05-29 17:00] bhurler1 commented on #99
Apologies, I am using Brave Version 0.64.77 Chromium: 74.0.3729.169 (Official Build) (64-bit)

[2019-05-29 17:08] nero120 commented on #99
Ah ok. Brave is not currently supported so even though it has some support for Chrome extensions there may be issues as describe.

I'm going to close this issue but could you please open a separate issue to request support for Brave so that users can upvote it if they'd also like xBrowserSync to support it? Thanks!

[2019-05-29 17:08] #99 closed

[2019-05-29 17:13] bhurler1 commented on #99
Absolutely. Thank you!

[2019-05-29 17:15] bhurler1 opened #100 "Brave Browser Support"
Brave is chromium based and has some small quirks. Overall seems to work really well out of the box, only having minor issues such as the search input not automatically focusing. Would be great to add official support.

Thanks!

[2019-05-31 12:07] coreagile opened #101 "Unable to enter credentials for existing sync ID"
### Steps to reproduce
1. Install 1.5.0b6
2. Go to Enpass and copy Sync ID to clipboard
3. Click to open the plugin
4. Click "Already got a Sync ID?"
5. Paste Sync ID
6. Go to Enpass and copy Password to clipboard
7. Click to open the plugin

### Expected behaviour
The plugin should have remembered the Sync ID I entered and allowed me to enter my password.

### Actual behaviour
The plugin forgot t

[2019-05-31 13:06] nero120 commented on #101
Hey @coreagile, I'll have a think about whether I want to change the current behaviour to save any input in the ID field (currently it only saves the ID once you've successfully synced), however in the meantime see [this post](https://github.com/xbrowsersync/app/issues/86#issuecomment-487276896) for a workaround.

[2019-05-31 14:10] coreagile commented on #101
Thanks. That workaround is very painful for beginners that use a password manager.

[2019-06-02 08:00] #101 closed

[2019-06-02 08:01] nero120 commented on #101
@coreagile this has now been resolved, from the next release the sync ID value will be saved whenever it is updated.

[2019-06-02 08:02] nero120 commented on #86
Just to say this is no longer an issue, 660274f9f1dcc4fdac2e3fb757b27d314d5fe4f5 adds saving of the sync ID whenever the field value is updated.

[2019-06-02 11:54] coreagile commented on #101
Thanks!!

Stephen Starkey, ACC
forgiveness | bravery | honesty | fairness | leadership | creativity

Sent from my iPhone

[2019-06-03 17:44] nero120 commented on #64
Updated the beta to [v1.5.0beta7](https://github.com/xbrowsersync/app/releases/tag/v1.5.0beta).

[2019-06-03 17:48] nero120 commented on #94
I've updated the latest [beta](https://github.com/xbrowsersync/app/releases/tag/v1.5.0beta) to include a zip file as requested, and will do for all future betas, which you can add using the Load Unpacked option in Chrome.

[2019-06-03 17:48] #94 closed

[2019-06-03 17:51] nero120 commented on #75
Please try again using the latest [beta](https://github.com/xbrowsersync/app/releases/tag/v1.5.0beta). I've included more logging and [raised a bug with Mozilla](https://bugzilla.mozilla.org/show_bug.cgi?id=1556427) that affects moving or deleting multiple bookmarks simultaneously which could be a potential source of your issues.

If you do experience the issue again, please attach the xBrowserSyn

[2019-06-03 17:53] nero120 commented on #51
Please try again using the latest [beta](https://github.com/xbrowsersync/app/releases/tag/v1.5.0beta). I've included more logging and [raised a bug with Mozilla](https://bugzilla.mozilla.org/show_bug.cgi?id=1556427) that affects moving or deleting multiple bookmarks simultaneously which could be a potential source of your issues.

If you do experience the issue again, please attach the xBrowserSyn

[2019-06-03 17:54] nero120 commented on #93
@poikilos I've updated the [beta](https://github.com/xbrowsersync/app/releases/tag/v1.5.0beta) to include this fix if you'd like to try it.

[2019-06-03 17:54] nero120 commented on #97
Please try again using the latest [beta](https://github.com/xbrowsersync/app/releases/tag/v1.5.0beta). I've included more logging and [raised a bug with Mozilla](https://bugzilla.mozilla.org/show_bug.cgi?id=1556427) that affects moving or deleting multiple bookmarks simultaneously which could be a potential source of your issues.

If you do experience the issue again, please attach the xBrowserSyn

[2019-06-03 17:56] nero120 commented on #89
Please try again using the latest [beta](https://github.com/xbrowsersync/app/releases/tag/v1.5.0beta). I've included more logging as well as a few other fixes. If you do experience the issue again, could you please attach the xBrowserSync logs from all affected browsers?

[2019-06-03 19:22] poikilos commented on #93
It works! Sync between Firefox, Brave, and Chromium is perfect (tested with old and new bookmarks).

[2019-06-03 19:35] poikilos commented on #100
I don't know whether there is "official support" yet, but it seems to work fine after some cross-browser issues were resolved in the betas:
* Sync from Mozilla-based to Chromium-based browsers is fixed with #84
* Sync from Chromium-based to Mozilla-based browsers is fixed with  #93 (as of 1.5.0beta7)

[2019-06-03 20:05] bhurler1 commented on #100
Correct. @nero120 asked me to make a feature request thread for people to upvote if they wanted it added officially. Then they can see how much the feature is requested by users and discern if they need to allocate the time to fixing the remaining minor issues.

[2019-06-03 20:06] iTob191 commented on #64
Getting `Package is invalid: 'CRX_HEADER_INVALID'` in Chromium again.

[2019-06-03 20:39] nero120 commented on #64
If the .crx doesn't work you can use the attached .zip file, just follow the instructions on the release page.

[2019-06-03 21:05] nero120 commented on #100
Until Brave is supported there could well be issues that are not immediately obvious, so if you want to use xBrowserSync with it make sure you take regular back ups just in case! 😄

[2019-06-04 06:06] ipk01 commented on #94
Installed your latest .zip beta7 on Chrome Version 74.0.3729.169 (Windows) by dragging the .zip into the extensions (developper mode). Not sure why this now works again.

[2019-06-04 08:30] nero120 commented on #94
@ipk01 you are right! I've removed the .crx and updated the beta release notes to account for this much simpler process.

[2019-06-04 09:10] iTob191 commented on #64
Everything seems to work fine now, thanks!

[2019-06-04 09:27] nero120 commented on #64
Great stuff, thanks for letting me know @iTob191! 🙇

[2019-06-04 19:50] danpeig opened #102 "User interface - SyncID clipboard copy"
When the extension generates garbage sync data (folders and bookmarks repeated and mixed) the only solution I found is create another sync ID and restart the process. If I try to delete all folders it logs out the extension and when I sign in again the garbage is back.

In order to sync the new ID to other browsers/computers I copy/paste the huge string to somewhere else.

The problem is that is a

[2019-06-05 05:42] ipk01 commented on #89
Bookmarks are garbled again. Please find the log for one of the two machines I have set-up with beta7 here:
https://www.dropbox.com/s/fv49ojwbg52dgn4/xBrowserSyncLog_20190605073926882_chrome_windwos.txt?dl=0
The other log tonight, if you then still need it.

[2019-06-05 10:27] nero120 commented on #89
Thanks for that @ipk01, I've now got a much clearer picture as to what is happening. Bear with me whilst I dig into.

[2019-06-05 12:55] slcpunk commented on #26
+1 on this feature.  Currently using "syncmarcx" until profiles are implemented.  There are lots of bookmark sync options, but the profile setting is what made xmarks unique and useful.
Looking forward to seeing it here!

[2019-06-05 20:53] ipk01 commented on #89
And just in case ... here the log from my ther machine:
https://www.dropbox.com/s/4dky28u5fjl2mk3/xBrowserSyncLog_20190605224839980_chrome_ubuntu16.txt?dl=0

[2019-06-07 20:36] mohsenkhanpour opened #103 "Solution: Corrupted Sync, Garbled Sync, Incomplete Sync"
I had a similar problem to what others have said concerning incomplete syncs and duplicates.
I wanted to sync across 2 machines, and 4 browsers (2 Chrome, and 2 Firefox), however it would always end up getting corrupted.
What solved the issue completely for me was to disable the browser's bookmarks sync via Chrome Sync or Firefox Sync. It seems that the browsers sync the bookmarks after it is sync

[2019-06-13 08:06] ipk01 commented on #103
Oh boy ... good hypothesis. Will test instantly! Thanks for that idea!!!

[2019-06-13 08:22] nero120 commented on #103
It says on the first screen when you open xBrowserSync for the first time:

Please ensure you **read the help text** before using xBrowserSync to avoid issues.

[2019-06-13 08:22] #103 closed

[2019-06-14 06:48] ipk01 commented on #103
No more issues now. Admittedly, after re-installing a few times I did not read the help text anymore, and even now that I know I cannot find it mentioned in the FAQs. I think it is not only recommendable to turn of the inbuilt sync services but possibly mandatory. In any case ... this is great. Love it!!! Thanks for your patience with us users :-)

[2019-06-14 08:52] nero120 commented on #103
No worries at all @ipk01, glad your issues are now sorted. I will add it to the FAQs but I'll also add a warning on initial sync to disable existing sync tools just so that users don't fall foul of it in future.

[2019-06-14 08:56] nero120 commented on #89
Thanks to your logs I've identified a flaw in the sync, probably exposed by the fact that the other sync in the background was removing bookmarks at a rate that users just wouldn't do with normal behaviour. I think it's an egde case but it may explain the other sync issues that users have reported that are difficult to explain.

The fix I'm implementing will mean that syncing will be far more stab

[2019-06-14 09:02] ipk01 commented on #103
Great!

[2019-06-17 13:39] nero120 commented on #102
Thanks @danpeig, good idea.

[2019-06-17 18:41] ipk01 commented on #89
Hi Rich,

my bookmarks garbled again ...

I have now "native" synchronization in general still on for my devices, but the booksmarks syncs disabled and just verified that. I have saved the logs from 5 environments here. The problem must have been with one of the two ubuntu browsers that produced the two .logs with the newest timestamp since on all others I fired up the browsers (at work this morni

[2019-06-18 11:20] #102 closed

[2019-06-19 08:52] nero120 commented on #89
@ipk01 thanks for the feedback, I believe I've cracked the sync corruption issues now once and for all. I'm currently testing a new version of syncing local bookmark changes in Chrome and have not had any corruption yet so am hopeful. I just need to implement these updates in the Firefox code and then I'll update the beta, hopefully before the end of the week.

If we can confirm then that the issu

[2019-06-19 10:51] ipk01 commented on #89
Awesome... 😁😁😁

Am 19. Juni 2019 10:52:12 MESZ schrieb Rich <notifications@github.com>:

--
Sent from my mobile phone. Please excuse my brevity.

[2019-06-21 16:39] eCyclops opened #104 "Extension won't install in Firefox"
### Steps to reproduce
1. Try to install xBrowserSync extension

### Expected behaviour
I expect the browser extension to be loaded into FireFox

### Actual behaviour
1. If installing from the FireFox / Mozilla add-on repository (https://addons.mozilla.org/en-GB/firefox/addon/xbs/) I get the message: "Download failed. Please check your connection."
2. If trying to directly install the xpi (https:/

[2019-06-24 18:39] nero120 commented on #104
Suggest you check [this](https://discourse.mozilla.org/t/fixed-certificate-issue-causing-add-ons-to-be-disabled-or-fail-to-install/39047/2) post out, relating to a well known recent Firefox issue, or report your issue [here](https://github.com/mozilla/addons/issues/).

[2019-06-24 18:39] #104 closed

[2019-06-25 14:26] abudden opened #105 "Feature Request: node script for decrypting bookmarks"
I wasn't sure whether this should be raised on the API or APP issue page; apologies if I've judged it wrong.

I use the Chrome extension to back up to my home server.  At the moment, I'm keeping historical backups (so if I ever accidentally delete something I can plausibly go in and hack the database to load an old version) using a simple script:

[code]

It would be really useful to actually be a

[2019-06-25 15:57] nero120 commented on #105
Hi @abudden , I don't have time to look at this right now, but it shouldn't be too difficult to adapt existing code into a Node script. I can give you the gist then yourself or someone else could give it a go.

The functions required to decrypt bookmarks data are:

- [utility.getPasswordHash](https://github.com/xbrowsersync/app/blob/master/js/utility.js#L412): Before decrypting, the plain text pas

[2019-06-26 14:11] abudden commented on #105
@nero120 Thanks for the notes.  I've had another go (starting from scratch rather than my previous attempt with copying and pasting the xbrowsersync source code).  As a javascript novice, I still feel like I'm fumbling in the dark, but I've included my first attempt below.

It looked promising to me, but there are at least two major issues:

* The key generation produces a different result to the

[2019-06-26 18:11] nero120 commented on #105
Most of that looks fine, I've had a play and made a few small changes. However my version fails due to a wierd Node crypto issue, I've logged an [issue](https://github.com/nodejs/help/issues/2003) with them so let's see what they say...

[2019-06-27 09:53] nero120 commented on #105
Working version: https://gist.github.com/nero120/e878e40b14655c9526680472376b4f8c

You'll need to run `npm i` after downloading the files in order to install the dependencies. I forgot to mention that the data needs to be decompressed using [lzutf8](https://www.npmjs.com/package/lzutf8) after decryption, I've added this and then beautified the output so it appears more readable that just a big blo

[2019-06-27 09:53] #105 closed

[2019-06-27 15:11] abudden commented on #105
Fantastic, thanks @nero120

I've implemented it on my server and it works like a dream.

[2019-06-27 15:41] nero120 commented on #105
Glad to hear it! 😄

[2019-06-27 21:34] nero120 commented on #89
Ok here we go @ipk01: [v1.5.0beta11](https://github.com/xbrowsersync/app/releases/tag/v1.5.0beta).

I've been testing for the last couple of days syncing across multiple machines and browsers and not hit any issues yet. I'm hoping this will resolve all of your syncing issues. 🤞

Please be aware however, due to a [bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1556427) in Firefox's bookmarks API

[2019-06-27 21:36] nero120 commented on #97
@jiri-matejka would you mind trying the latest [v1.5.0beta11](https://github.com/xbrowsersync/app/releases/tag/v1.5.0beta)?

Please be aware however, due to a [bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1556427) in Firefox's bookmarks API, changing multiple bookmarks simultaneously will likely result in an error in xBrowserSync. The issues has been fixed in the latest [Firefox Nightly (v69.

[2019-06-27 21:36] nero120 commented on #75
@chronoviking would you mind trying the latest [v1.5.0beta11](https://github.com/xbrowsersync/app/releases/tag/v1.5.0beta)?

Please be aware however, due to a [bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1556427) in Firefox's bookmarks API, changing multiple bookmarks simultaneously will likely result in an error in xBrowserSync. The issues has been fixed in the latest [Firefox Nightly (v69.

[2019-06-27 21:38] nero120 commented on #74
@pauldurham @jwhaleyca would you mind trying the latest [v1.5.0beta11](https://github.com/xbrowsersync/app/releases/tag/v1.5.0beta)?

Please be aware however, due to a [bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1556427) in Firefox's bookmarks API, changing multiple bookmarks simultaneously will likely result in an error in xBrowserSync. The issues has been fixed in the latest [Firefox Nigh

[2019-06-27 21:39] nero120 commented on #65
@simurq would you mind trying the latest [v1.5.0beta11](https://github.com/xbrowsersync/app/releases/tag/v1.5.0beta)?

Please be aware however, due to a [bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1556427) in Firefox's bookmarks API, changing multiple bookmarks simultaneously will likely result in an error in xBrowserSync. The issues has been fixed in the latest [Firefox Nightly (v69.0a1)](

[2019-06-27 21:39] nero120 commented on #51
@bipedalist would you mind trying the latest [v1.5.0beta11](https://github.com/xbrowsersync/app/releases/tag/v1.5.0beta)?

Please be aware however, due to a [bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1556427) in Firefox's bookmarks API, changing multiple bookmarks simultaneously will likely result in an error in xBrowserSync. The issues has been fixed in the latest [Firefox Nightly (v69.0a

[2019-06-28 15:37] nero120 commented on #31
@SciFreakholic minor update, I've been testing the v1.5.0beta with the [Edge Dev Channel](https://www.microsoftedgeinsider.com/en-us/download/) release and it works like a dream! The browser is not quite ready for public use yet as I've noticed a few issues, such as the favourites window interface becoming dog slow with a large amount of bookmarks, but thankfully all xBrowserSync functionality wor

[2019-07-03 10:39] ipk01 commented on #89
Had this running for two days now on three machines on chrome and firefox on windows and ubuntu with no incidents so far ... Great work!

[2019-07-03 11:09] nero120 commented on #89
That's great news @ipk01, thanks so much for testing and feeding back!

In the meantime I've continued testing, found some edge case issues and fixed them. However I keep finding bugs in Firefox's bookmarks API which is driving me mad!! Mozilla also seem to take years to fix them as they deem API issues low priorty, not impressed with them at all.

I'll aim to (finally) release v1.5.0 in a week or

[2019-07-04 04:11] ProfessorO opened #106 "Website certificate expired, so browser extension doesn't work"
### Steps to reproduce
1. Browse to https://xbrowsersync.org

### Expected behaviour
Should see xBrowserSync home page

### Actual behaviour
Browser warns that the certificate is invalid for xbrowsersync.org, as it was issued to TRAEFIK DEFAULT CERT.

### Client app information
Have tested on current version of extension for both Chrome and Firefox on Windows 10--neither one is syncing properly.

[2019-07-04 04:36] servicedevice opened #107 "Dropped bookmarks in sync"
### Steps to reproduce
1. Allow sync to upload on browser with change of 3 added bookmarks (Chrome, laptop)
2. Allow sync to download on second browser (Chrome, PC)
3. Check expected changes

### Expected behaviour
Tell us what should happen
All 3 bookmarks should be present on both devices

### Actual behaviour
Tell us what happens instead
Only one added bookmark makes it onto the second device--

[2019-07-04 05:25] servicedevice commented on #107
Incidentally, I did go back and add the missing bookmarks again, and this time they synced. But this means that I would have to always check that every change went through, or just hope for the best, neither of is a workable solution for me...

[2019-07-04 14:00] nero120 commented on #106
Thanks @ProfessorO, root domain now redirects to www.

[2019-07-04 14:00] #106 closed

[2019-07-04 20:04] ni-ka commented on #11
Hi @nero120 does the milestone setting mean that it is scheduled for the next release?

[2019-07-04 21:13] nero120 commented on #11
@ni-ka I'll be releasing v1.5.0 shortly which includes many updates, additions and stability fixes. v1.6.0 will be the subsequent release that mainly focuses on adding support for the remaining major browsers. This will be a much less complex release than v1.5.0 so will not take nearly as long to complete!

[2019-07-05 07:13] ni-ka commented on #11
Thanks for the update! Great work

On Thu, 4 Jul, 2019 at 9:13 PM, Rich <notifications@github.com> wrote:

[2019-07-05 15:40] letroll opened #108 "I'm working on an native Android application"
Hello,

After tested the current Android application and see some issues:

- https://github.com/xbrowsersync/app/issues/53
- https://github.com/xbrowsersync/app/issues/78
- https://github.com/xbrowsersync/app/issues/47
- https://github.com/xbrowsersync/app/issues/29
- https://github.com/xbrowsersync/app/issues/25

I started working on a native application, and I would like to know if you are inter

[2019-07-05 16:31] nero120 commented on #108
Hi @letroll, I've considered building a native app in the past, there's a couple of reasons why I decided to stick with Cordova but the main one is that having a unified code base means far less work to update all platforms. For now, the app is simple enough that it can share the code base with the extensions so I don't think there's a benefit in separating it out. Dev time is limited and must be

[2019-07-08 05:15] servicedevice commented on #107
Not sure if I put all this in the right place, or if it's being read, but: I think I solved the issue--I think I a) possibly bookmarked the links too quickly together and/or b) probably closed the browser too quickly thereafter, thus not giving it enough time to sync. I was able to reproduce the behavior by repeating these factors.

[2019-07-08 05:15] #107 closed

[2019-07-08 11:47] nero120 commented on #107
Ok thanks for the update @servicedevice. v1.5.0 will be released shortly that should resolveany remaining sync issues/bugs.

[2019-07-08 12:49] letroll opened #109 "[feature request]: Import from other service like website Diigo"
It would be great to have the possibility to import bookmarks from other website like Diigo

[2019-07-15 09:54] nergdron commented on #6
I didn't know this bug existed, and setup the existing chrome extension on vivaldi today. it seems to work fine, including bookmarks bar sync. so you may be able to just close this. ;)

[2019-07-15 10:22] nero120 commented on #6
@nergdron whilst xBrowserSync may appear to work for the most part on any Chrome/Firefox based browsers they're not officially supported until they are. Vivaldi support will come with v1.6.0 so until then I won't be able to resolve any issues raised, but hopefully you won't encounter any! 😄

[2019-07-16 14:04] ipk01 commented on #89
2 weeks down the line still working great. Installed on 4 machines between various Ubuntu versions and Windows on Chrome and Firefox (where "nightly" available) and no issues at all. Syncs flawlessly now! Awesome!!!

[2019-07-16 16:11] nero120 commented on #89
Excellent @ipk01!! I've fixed a few minor issues and made some additional improvements (mostly UI) and I think I'm now ready to release v1.5.0 which should be out by the end of the week... 🤞

[2019-07-16 16:21] #89 closed

[2019-07-16 19:10] ChrisdelaC commented on #31
Thanks for the update, @nero120!

[2019-07-21 04:43] yz778 commented on #100
I'm using xBrowserSync across Brave (win10), Chrome (win10), and Chromium (linux) -- and happy to report that it's working well.

If you're using Brave, consider turning off Brave's sync. I've had Brave sync on while xBrowserSync was on, and experienced bookmarks duplicated and folders being partially duplicated. If I can reproduce this, i'll file a proper bug report.

[2019-07-21 07:49] nero120 commented on #100
@yz778 xBrowserSync does not support using other sync tools under any circumstances, doing so will always lead to duplication as the native APIs are triggered by those sync tools which then trigger xBrowserSync.

[2019-07-21 19:53] yz778 commented on #100
@nero120, agree and understood. Suggested feature when Brave support is official -- to detect that Brave Sync is on and give a warning.

[2019-07-21 20:33] nero120 commented on #100
@yz778 that's not possible unfortunately as there's no API available for any browser that can determine that. However in v1.5.0 I have included a warning to disable any active syncing tools:

![screenshot](https://user-images.githubusercontent.com/4236238/61596725-278be300-abff-11e9-8c4c-acd959558810.png)

[2019-07-24 21:56] Eco9nohz opened #110 "customize check intervals"
Hi,
Feature request to add an option for custom check intervals.
For example 1min check interval for private server.
If server load is a concern here you might add "minPollAllowed" to /info property on server side or something like that.

[2019-07-25 07:43] nero120 commented on #110
Good idea @Eco9nohz, thanks for the suggestion.

[2019-07-26 15:20] cortopy opened #111 "Support for Firefox Android"
Are there any plans to support Firefox Android?

[2019-07-29 11:03] cocox opened #112 "Unable to start sync"
Does not sync with second browser

### Steps to reproduce
1. Create new id sync from Opera
2. Sync in Firefox

### Expected behaviour
Download all chrome bookmarks

### Actual behaviour
Nothing appends

### Client app information
Opera: 62.0.3331.72
FireFox: 60.8.0esr

[2019-07-29 11:13] nero120 commented on #112
@cocox Opera is not supported yet (see #11). I'm expecting to implement Opera support in v1.6.0.

[2019-07-29 11:13] #112 closed

[2019-07-29 11:14] nero120 commented on #111
@cortopy not at this time unfortunately.

[2019-07-29 11:14] #111 closed

[2019-08-01 08:42] vsatmydynipnet opened #113 "Crash on Chromium Version 76.0.3809.87"
Hi,

first let me say thank you for this great software. Running self hosted API, using App on all of my Linux Boxes and LineageOS mobiles with Firefox. Works really great.

I have a few setups with Chromium on Linux. starting with Version 76.0.3809.87 the app crashes on start of Chromium. But also uBlock and ScriptSafe crashes. Must be some general change in Chromium.

Greetings!

[2019-08-01 09:46] nero120 commented on #113
Hi @vsatmydynipnet, first of all many thanks for the nice comments!!

I've just tried both v1.4.0 and the newly released v1.5.0 versions of xBrowserSync using Chromium 76.0.3809.87 for Win10 ([Marmaduke's ungoogled build](https://chromium.woolyss.com/)), and I'm unable to reproduce the issue. I've got an Ubuntu box at home that I can test on, which Linux distro are you running?

Some users have re

[2019-08-01 09:52] nero120 commented on #97
@jiri-matejka I've just released [v1.5.0](https://github.com/xbrowsersync/app/releases/tag/v1.5.0) which resolves most syncing issues, however there are [known issues](https://github.com/xbrowsersync/app/wiki/Known-issues) in Firefox due to bug's in Firefox's bookmarks API which can cause changes to be missed when performing many changes or simultaneous changes.

Unfortunately there's not much we

[2019-08-01 09:52] #97 closed

[2019-08-01 09:54] nero120 commented on #75
@chronoviking @urcindalo I've just released [v1.5.0](https://github.com/xbrowsersync/app/releases/tag/v1.5.0) which resolves most syncing issues, however there are [known issues](https://github.com/xbrowsersync/app/wiki/Known-issues) in Firefox due to bug's in Firefox's bookmarks API which can cause changes to be missed when performing many changes or simultaneous changes.

Unfortunately there's n

[2019-08-01 09:54] #75 closed

[2019-08-01 09:56] vsatmydynipnet commented on #113
Hi @nero120,

I run Debian Sid on all of my Linux boxes. The problem occured since the Sid updates of yesterday. I have no Windows here, so cannot test.

[2019-08-01 09:57] nero120 commented on #51
@bipedalist I've just released [v1.5.0](https://github.com/xbrowsersync/app/releases/tag/v1.5.0) which resolves most syncing issues, however there are [known issues](https://github.com/xbrowsersync/app/wiki/Known-issues) in Firefox due to bug's in Firefox's bookmarks API which can cause changes to be missed when performing many changes or simultaneous changes.

Unfortunately there's not much we ca

[2019-08-01 09:57] #51 closed

[2019-08-01 09:58] nero120 commented on #74
@pauldurham @jwhaleyca I've just released [v1.5.0](https://github.com/xbrowsersync/app/releases/tag/v1.5.0) which resolves these syncing issues. Please upgrade and if you're still experiencing the same issues after upgrading comment here.

[2019-08-01 09:58] #74 closed

[2019-08-01 10:00] nero120 commented on #113
ok thanks, I'll test on Ubuntu tonight and see if I can recreate on there.

[2019-08-01 10:02] nero120 commented on #65
@simurq I've just released v1.5.0 which resolves most syncing issues. Please upgrade and if you're still experiencing the same issues after upgrading comment here.

[2019-08-01 10:02] #65 closed

[2019-08-01 10:04] nero120 commented on #89
@ipk01 just to let you know I've just released [v1.5.0](https://github.com/xbrowsersync/app/releases/tag/v1.5.0) so feel to switch back from the beta.

[2019-08-01 12:45] ipk01 commented on #89
Already done that... It works really great now... The 10 pages info to click through are a lot if you have to go through them on 4 machines with 2 Browsers each... but it's OK.... Only once 😂😂😂. Love it.
Ingo

Am 1. August 2019 12:04:54 MESZ schrieb Rich <notifications@github.com>:

--
Sent from my mobile phone. Please excuse my brevity.

[2019-08-01 12:49] nero120 commented on #89
I agree absolutely, that's why I added the `skip` link on the first page! 😄 It only displays on first install so hopefully it's not too intrusive, though I get a lot of questions and issues from users who haven't read it so hopefully it will mitigate *some* of these issues.

[2019-08-03 10:37] loren229 opened #115 "bookmarks bar and folders have disappeared in Chrome"
**Describe the issue you are experiencing**
Started chrome for the first time since the new version of xBrowserSync came out. First few minutes everything was normal with my bookmark bar and folders the way they were. But when I tried to add a new bookmark using the Chrome star, suddenly all my folders disappeared, and I got error messages that I didn't understand (see below). The new bookmarks wo

[2019-08-04 10:42] nero120 commented on #115
Hi @loren229, yes your sync still exists on [api.xbrowsersync.org](https://api.xbrowsersync.org/), first of all let's try and sort the encryption error. Are you only syncing to the browser stated above? Next, can you please follow these steps:

1. Clear the log by going to the Settings panel and clicking the Clear Log button in the Issues section.
2. Disable the sync by clicking Disable Sync in th

[2019-08-04 10:59] loren229 commented on #115
Yeah that doesn't sound right. :( I'm sure I've added more in Chrome since then
And I tried the first two steps, but then can't find my password, so I guess I've lost all my bookmarks anyway :(

Thanks anyway :(

[2019-08-04 11:04] nero120 commented on #115
I'm really sorry to hear that @loren229 😭

Did you take a backup previously? If so you can restore from the backup. Alternatively, are the bookmarks still present locally? If so you can create a new sync, you'll lose the descriptions and tags but at least you'll have the bookmarks themselves.

[2019-08-04 11:06] loren229 commented on #115
I can't find a backup of them, no. And they're not still present locally, that was my issue to start with, that all my folders on my bookmarks bar had disappeared.

Thank you for your time.

[2019-08-04 11:24] nero120 commented on #115
I'm truly sorry about that @loren229, I absolutely need to get auto-backups implemented asap.

It's a small hope but you can try to sync with as many password guesses as you can remember, it doesn't lock you out of anything.

[2019-08-04 11:24] #115 closed

[2019-08-04 21:18] nero120 commented on #113
@vsatmydynipnet I downloaded the current beta version of Chrome (76.0.3809.87-1) for Ubuntu (18.04.2 LTS) and xBrowserSync v1.5.0 works fine with it. When starting up the browser and sync is active, it updates the sync automatically as it should, no issues.

Can you download it from [here](https://www.google.com/chrome/beta/?platform=linux) and see if you still get the issue?

[2019-08-05 06:51] vsatmydynipnet commented on #113
I just apt-get dist upgraded sid, and there was another chromium update. Version still shows 76.0.3809.87, but now all extensions, incl.ublock and scriptsafe works again on all boxes.

Thank you for your help. We can close this one.

[2019-08-05 06:51] #113 closed

[2019-08-05 08:40] nero120 commented on #113
Glad to hear it @vsatmydynipnet!

[2019-08-06 16:57] danpeig opened #116 "1.50 Android Firefox Sync Error"
Extension does not work in Firefox Android Browser.

2019-08-06 16:27:33.740	[trace]	Starting up
2019-08-06 16:27:33.772	[trace]	{"displayHelp":true,"appVersion":"1.5.0","platform":{"name":"firefox","version":"68.0.0","mobile":true,"os":"Android 9"}}
2019-08-06 16:29:08.435	[trace]	Failed to disable event listeners
2019-08-06 16:29:08.529	[trace]	Failed to disable event listeners
2019-08-06 16:29:

[2019-08-06 17:03] nero120 commented on #116
Firefox for Android is not currently supported.

[2019-08-06 17:03] #116 closed

[2019-08-06 17:27] ProfessorO opened #117 "Firefox extension seems to get stuck in a sync loop"
**Describe the issue you are experiencing**
I just updated to Firefox 69.0b11 on Windows 10 as recommended by the xBrowserSync 1.5.0 update. I was excited to finally be able to sync my bookmarks, after months of not being able to. Once I put in the sync ID and password, syncing seemed to work just fine--all my bookmarks appeared. Then they were all deleted and synced again ... and again, and again

[2019-08-06 17:29] ProfessorO commented on #117
And seeing the log file immediately made it clear what was going wrong--one of my bookmarks had the title and URL reversed. It was causing no trouble on Chrome, but it was failing and causing this sync loop. Fixing that bookmark immediately allowed the sync to succeed. Thus, my immediate issue is resolved, but I still think this is a bug.

[2019-08-07 03:00] alextmz opened #118 "Syncing corruption every now and then - volunteer to help find out cause"
**Describe the issue you are experiencing**
Corruption/partial syncing of bookmarks - it is not frequent but reliably happens every few days.
Latest was on MacOS/Chrome: all other browsers closed, xbrowserSync kept uploading after adding a new bookmark, after a few minutes I killed the browser and re-launched, only about 20% of all bookmarks came back.
Syncing usually is almost instantaneous.
Happ

[2019-08-07 05:42] ipk01 commented on #118
Re: Firefox ... I think you still need to work with "Nightly" (not just the latest version of regular Firefox). Just since you mentioned everything else that could be critical, but I did not see that mentioned. Beyond ... I also only have the respective own bookmarks syncing disabled, but nothing else. For me that works on currently 4 machines with Chrome and Firefox, wherever the Nightly is > Ver

[2019-08-07 09:58] nero120 commented on #118
@alextmz some odd entries in the log, but I'll need you to upgrade to the now available v1.5.0 release as there have been significant changes since v1.5.0beta20. Could you please upgrade all of your browsers to v1.5.0, then please create a new sync (you're currently using a sync created in the beta) and restore your bookmarks to it.

Run that for a few days and report back if the issue persists (p

[2019-08-07 10:01] nero120 commented on #118
@ipk01 if you're running on Firefox, the best version to run currently is the beta (v69) as it includes a bookmarks API fix when deleting multiple bookmarks simultaneously which the current version (v68) doesn't include. Nightly (v70) doesn't currently include any significant changes to the bookmarks API compared to the beta as far as I'm aware.

[2019-08-07 16:37] nero120 commented on #117
That is an interesting one @ProfessorO! Out of interest, any idea how the title and url of a bookmark got switched around - that can't be done via the Firefox interface can it?

[2019-08-09 07:25] maephisto666 opened #119 "Add a force upload/download button"
**Is your feature request related to a problem?**
Linked to #118, I strongly believe that a button to explicitly trigger a download/upload of the bookmarks would really help.

I still remember that Xmarks (r.i.p.) had such functionality: I usually modify my bookmarks a lot, on different laptops, on different browsers, I sort them with SuperSorter on Chrome and this triggers an upload that now is a

[2019-08-10 17:13] boomshankerx opened #120 "xBrowserSync not compatible with bookmark sorters"
I am using a chrome extension called SuperSorter to properly sort my bookmarks and folders. Every time I perform a sort on my bookmarks xBookmarkSync throws an error and reverts my bookmarks back to before the sort.

I've attached log file and screen cap of the error.

![SNAG-2019-08-10-0000](https://user-images.githubusercontent.com/518179/62824777-cbfaa880-bb5f-11e9-9ac0-d0ef49d099ba.png)

[xBro

[2019-08-10 18:49] nero120 commented on #119
Hi @maephisto666, a number of points to this:

1. Sorting the bookmarks is causing an error which forces xBrowserSync to refresh your local bookmarks from the server (to prevent further issues). There's another [issue](https://github.com/xbrowsersync/app/issues/120) open which will track this.
2. You can always overwrite your current synced data by restoring from a backup file. This has the benefi

[2019-08-10 18:49] #119 closed

[2019-08-12 15:57] boomshankerx commented on #120
Additional Info:

It appears that the extension "Recursive Bookmark Sorter" seems to work fine with xBrowserSync. At least when making small changes.

SuperSorter has some extra valuable features that are valuable like deleting duplicates and removing empty folders.

[2019-08-12 16:00] nero120 commented on #120
@boomshankerx in order for me to fix this, can you please provide me with an xbrowsersync backup file that when SuperSorter is applied causes the error? It doesn't have to be your bookmarks data, anything generic that recreates the issue will work.

[2019-08-12 19:13] maephisto666 commented on #120
Hello @nero120, I think I was able to narrow the set of boomarks that **in my case** is causing the issue described by @boomshankerx (i.e. when I run SuperSorter, I got the same error message). Now as you can see (for some reasons, don't ask my why) I have 2 folders with the same name and this is causing the crash: when I moved every bookmark from one folder to the other one and I ran again SuperS

[2019-08-17 22:23] #47 closed

[2019-08-19 15:21] nero120 commented on #16
https://www.patreon.com/posts/sneak-peek-view-29278175 😉

[2019-08-20 06:10] cjnaz commented on #16
HI Rich,
Can you supply a download link on an open server not requiring a
subscription?
Thx,
Cjn

On Mon, Aug 19, 2019, 8:21 AM Rich <notifications@github.com> wrote:

[2019-08-20 08:45] nero120 commented on #16
@cjnaz it's not a link to a download, just a blog post previewing the folder view functionality that's coming. It's exclusively for the patrons of xBrowserSync who donate regularly to the project as a way to say thank you, as I don't really do much exclusive content or benefits for them at all. Don't worry, everyone will get this functionality at the same time once it's ready, I linked to it here

[2019-08-20 14:03] nero120 commented on #120
@maephisto666 thanks for this. It appears that the process of moving bookmarks either simultaneously or in quick succession (as does SuperSorter) can sometimes lead to conflicts. This is because xBrowserSync uses indexes when processing syncs. I have some ideas on how to resolve this, but it will take some experimentation, it's good that you can work around this issue for the time being.

[2019-08-20 14:04] nero120 commented on #118
@alextmz did you manage to try this with v1.5.0?

[2019-08-20 14:16] cjnaz commented on #16
Ah thanks.  I misunderstood.  I look forward to the beta release.

Btw, when I went to app 1.5 across my various Chrome and Firefox installs I
again got a lot of bookmarks duplicated.  I haven't gone in to clean them
up yet, and I didn't file an issue - been too busy.

Regards and thanks again,
Cjn

On Tue, Aug 20, 2019, 1:45 AM Rich <notifications@github.com> wrote:

[2019-08-20 14:17] nero120 commented on #117
@ProfessorO also noticed that the log file states xBrowserSync was unable to delete a bookmark 'fRo4BhzjhWNn' in the bookmarks toolbar when attempt to clear local bookmarks, do you know why this might be? I wouldn't expect the bookmarks API to fail removing a local bookmark...

[2019-08-20 14:19] nero120 commented on #16
Damn ok, when you get a chance create an issue and attach all the log files, hopefully they will reveal the cause of the problem.

[2019-08-22 20:55] #25 closed

[2019-08-26 18:26] indig0F10w commented on #100
Greetings, just a quick feedback from a Brave user: xBrowserSync works fine for me on Windows 10 x64, Brave, Firefox and Firefox Developer Edition.

[2019-08-27 08:46] nero120 commented on #100
Thanks @indig0F10w, I've switched to Brave for my main browser and xBrowserSync is working great!

[2019-08-29 00:50] alextmz commented on #118
Oh dear, classic case of "when the tech guy comes to see the user, there is no problem at all"  :sweat_smile: Didn't happen yet - I'm happy to keep the bug open for now if you're too - I'm going to use multiple desktops a lot more in the coming days. I'm currently using stable 1.5v and latest stable browser versions.
We can also close it and I can open another one if it re-occurs, whatever it's mo

[2019-08-29 13:16] sachbearbeiter commented on #100
Cool - i will try to use it with Brave too :) Btw. thanks a lot for this wonderful app!

[2019-08-30 10:27] peperami97 commented on #118
I have just had this issue occur and most of my bookmarks disappear, I am using a variety of browsers mostly chrome and firefox.

Running 1.5 of the sync tool

The log from the instance that seemed to have the problem

[xBrowserSyncLog_20190830112652484.txt](https://github.com/xbrowsersync/app/files/3559500/xBrowserSyncLog_20190830112652484.txt)

[2019-08-30 10:41] nero120 commented on #118
Hi @peperami97, currently it's possible for xBrowserSync to trip over itself when making many changes quickly via the native bookmarks tools - an earlier change (a deletion for example) can cause a later change to fail in certain circumstances. This is because currently the syncs (changes) are processed in the order that they occurred, using both the local bookmarks and synced bookmarks as they ar

[2019-09-09 08:41] #78 closed

[2019-09-17 12:54] honeytrek opened #121 "Why do you hide the ability to uninstall? Not a good user experience"
Please explain where I can uninstall, and WHY it is not obvious to the user. Do you want to "trick" users to keeping this on their system? I also checked the FAQ and the word uninstall was no where on the page. This is NOT how a company should opperate. Thanks for updating this and also telling the rest of us how to uninstall.

[2019-09-17 13:22] nero120 commented on #121
What are you talking about? xBrowserSync is a browser extension, you uninstall it like the millions of other extensions available. It is impossible to "hide the ability to uninstall" since the browser controls this. And since you deemed to include absolutely no useful information in your rant I don't know which browser you are using and so can't advise you further. Maybe you can complain to Google

[2019-09-17 13:22] #121 closed

[2019-09-17 13:26] honeytrek commented on #121
Sorry you fealt attacked. I don't know what's a company or not. I just think you should have an uninstall option within the widget/plugin/etc. And it was popping up over my screen, so I had NO idea it was a browser add-on, as that wasn't mentioned anywhere that I saw in the options page.

[2019-09-17 13:31] nero120 commented on #121
You don't uninstall extensions from within the extension, you uninstall them from within the browser. Trust me, you don't want to be installing things you don't understand, you can change things inadvertantly or god-forbid, accidentally install something malicious that can compromise your system.

[2019-09-18 01:50] mike652638 opened #122 "Access sync data via other alternatives such as username/email/github, etc instead of sync id only which is hard to remember ..."
Thanks for the nice extension !

Currently it seems that the random generated Sync Id is the only way to access and sync data across different browsers/devices, it's somehow difficult for users to remember/keep.

Could you please consider other alternatives ?
For example, allow custom username/email address/github/facebook account .etc to associate with and to manage sync ids and sync data ? :)

[2019-09-18 01:52] bgx opened #123 ""Sync up" is broken if I close and reopen Firefox when 'Always use private browsing mode' is enabled"
**Describe the issue you are experiencing**
"Sync up" is broken if I close and reopen Firefox when 'Always use private browsing mode' is enabled

"sync up" - pushing local updates to server
"sync down" - pulling updates from server

**How can the issue be reproduced?**
Steps to reproduce the behavior:
[Verify working state]
1. Open Firefox, sign in to xBrowserSync, and verify sync (up and down) is

[2019-09-18 11:07] nero120 commented on #122
Hi @mike652638, you're very welcome! Glad you're enjoying xBrowserSync.

Although the xBrowserSync service will always use the anonymous sync ID, the [plan](https://github.com/xbrowsersync/app/wiki/Roadmap) is to support syncing to different types of services in the future, for example, Nextcloud/Dropbox/etc. That way you can use an existing cloud storage account (as long as it's supported by xBro

[2019-09-18 11:07] #122 closed

[2019-09-19 11:46] nero120 commented on #123
@bgx thanks for the detailed info, I've recreated this. Unfortunately it's not a straightforward fix.

The problem is caused because the [`runtime.onStartup`](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/runtime/onStartup) event does not fire when the browser is in "private" mode. This is also consistent with the [Chrome](https://developer.chrome.com/extensions/runtim

[2019-09-24 18:45] IzzySoft opened #124 "tag v1.5.0 lacks Android APK"
Could you please also attach the `*.apk` to release v1.5.0 – as you did with previous releases? Somehow it is missing there. Thanks in advance!

[2019-09-25 03:31] nero120 commented on #124
Hi @IzzySoft, v1.5.0 was for Chrome and Firefox only. I'm currently working on v1.5.1 which includes a completely updated android app, it's mostly finished just tweaking the offline functionality. Expecting to release it first half of next month.

[2019-09-25 03:31] #124 closed

[2019-09-25 04:59] IzzySoft commented on #124
Ah OK, that explains – thanks!

[2019-10-08 22:05] Offerel opened #125 "Android: cant fetch data for new bookmark"
If I use the share function in Android to add a new bookmark, the app can't fetch the URL or it's metadata. Tested with Firefox, Bromite, Firefox Preview and Samsung Internet on Android 9.

[2019-10-09 02:24] nero120 commented on #125
Hi @Offerel, this issue was fixed in 8310d5b69c1916a0dc5aba94131bd2e00b527024 and will be released in v1.5.1 (very soon hopefully!).

[2019-10-09 02:24] #125 closed

[2019-10-18 19:46] kkuhle commented on #16
+1

[2019-10-22 01:11] Sekers opened #126 "Support for Kiwi Browser on Android"
Kiwi browser is becoming an amazing Chrome alternative that still uses Chromium but has built-in ad blocker, can bypass AMP links, etc. Recently, they added Chrome extension support which is pretty amazing. For example, the Bitwarden Chrome extension works perfectly.

I have been having trouble getting the xBrowserSynx Chrome extension to work in Kiwi. Would it be possible to get support of the Ki

[2019-10-23 11:58] onemooresam opened #127 "Brave Browser - "Something went wrong""
Auto and manual sync update (with changes pending) yields this message and no other information.

[2019-10-23 14:00] onemooresam commented on #127
Sync worked on setup.  Bravesync is off.  Syncing between 2 instances of Brave and 2 instances of Chrome (1 each on MacOS Mojave and 1 each on MacOS Catalina)

[2019-10-23 14:02] onemooresam commented on #127
These are occuring on the Mojave Mac.  Chrome is throwing the error, too.

[2019-10-24 15:08] nero120 commented on #126
Thanks @Sekers, I don't know much about Kiwi but once I start work on v1.6.0 (next release after the current one I'm working on, which will include support for other Chromium browsers) I'll look into how much effort it will be to support Kiwi as well.

[2019-10-24 15:13] nero120 commented on #127
Hey @onemooresam, can you paste the xBrowserSync log from the browser that is experiencing the issue?

[2019-10-24 16:37] Sekers commented on #126
Thank you. Some have gotten it the extension to work as recently as a few weeks ago, but something broke since then. I am hoping this means that it's not a huge amount of work to have the two projects work together.

Much appreciated!

[2019-10-24 16:49] nero120 commented on #126
Hopefully not! 🤞

[2019-10-25 13:24] onemooresam commented on #127
[xBrowserSyncLog_20191025092355933.txt](https://github.com/xbrowsersync/app/files/3772263/xBrowserSyncLog_20191025092355933.txt)

[2019-10-26 10:51] nero120 commented on #127
@onemooresam it appears you have bookmarks with duplcate ids, not actually seen this error in the wild before!

Not sure what exactly would have caused it but to fix it, back up your bookmarks in xBrowserSync, open the backup file and find the bookmarks with ids 2 and 818. You'll need to change the ids manually so that each bookmark has a unique id. Find the highest id out of all of your bookmarks

[2019-10-31 22:46] onemooresam commented on #127
Thanks, Rich.  I did as directed and get the following upon trying to restore:
Connection lost
Couldn’t connect to the xBrowserSync service, check the service status in the Settings panel.

Upon checking status: Status: Online Version: 1.1.10

[2019-11-01 09:51] nero120 commented on #127
@onemooresam can you post the log file here please?

Also, would you be willing to send your back up file to admin@xbrowsersync.org so I can confirm it's valid?

[2019-11-01 13:10] onemooresam commented on #127
@nero120 I set up a new sync using https://xbrowsersync.freerangecloud.com/ and it seems to be working. No error messages so far.

[2019-11-03 07:57] alextmz commented on #118
Just crossed my mind to update on the issue - I haven't experienced this bug anymore, running 1.5.0 on 3 workstations (Mac+2xWindows).

[2019-11-03 10:37] bijang opened #128 "Tabbed browser sync"
For the planned tab sync feature, as well as, or instead of, sync in the regular fashion, would it be possible to sync data coming out of tabsessionmanager (https://github.com/sienori/Tab-Session-Manager), which is essentially a continuum, set to your own specification, of snapshots of your tabbed browsing session; so essentially you can have a 'journal log' of your activity to roll back to. This

[2019-11-03 12:14] nero120 commented on #118
That's great news, thanks @alextmz. I'll close this now.

[2019-11-03 12:14] #118 closed

[2019-11-03 12:17] nero120 commented on #127
Ok then, glad to hear it's working. I'll close this but feel free to post any updates if required.

[2019-11-03 12:17] #127 closed

[2019-11-03 12:20] bijang opened #129 "sync options"
Has the encryption process gone though, r are there an plans to, put it through a 3rd party audit?
Thank you for your work
Also Is there a way to donate money to this project?

[2019-11-03 12:24] bijang commented on #129
Also can it be made to work well with non cloud sync options like via syncthing. Perhaps whenever a change is made a local sync, or backup, occur. If this were possible would a temporary versioning be possible to see a 'history', where could roll back, like the way etesync backs up?

[2019-11-04 06:34] 3xploiton3 opened #130 "Puffin browser support"
The fastest way to load web in android,

[2019-11-04 10:15] ipk01 opened #131 "New Firefox Nightly breaks sync?"
For the first time in ages my bookmarks have become garbled again. Have no logs yet but will provide after attempting to rescue my bookmarks at home. Possibly related to new Firefox Nightly that installed itself? Will need to confirm.

[2019-11-04 10:51] nero120 commented on #131
Ok that would be useful if you could provide the log. Bear in mind though that I can't support nightly builds for obvious reasons (betas possibly depending on effort required). I would recommend using at least beta if not standard releases ideally.

[2019-11-04 10:55] nero120 commented on #130
Hi @3xploiton3, xBrowserSync currently does not support integration with any mobile browser (to access your synced bookmarks on mobile you'd need to use the xBrowserSync android app). It is not currently on the [roadmap](https://github.com/xbrowsersync/app/wiki/Roadmap) and is unlikely to change for the foreseeable future, really sorry.

[2019-11-04 10:55] #130 closed

[2019-11-04 11:07] nero120 commented on #129
No specific plans, but as this is an open source project anyone is free to 'audit' the code themselves. All encryption in xBrowserSync is done using the [Web Crypto API](https://developer.mozilla.org/en-US/docs/Web/API/Web_Crypto_API) as implemented by the host browser, and the code that interfaces with this API can be found in [`utility.js`](https://github.com/xbrowsersync/app/blob/master/js/util

[2019-11-04 11:07] #129 closed

[2019-11-04 11:10] nero120 commented on #126
Totally didn't realise this was a mobile only browser! When you said chromium I just assumed it was desktop... 😖

xBrowserSync currently does not support integration with any mobile browser (to access your synced bookmarks on mobile you'd need to use the xBrowserSync android app). It is not currently on the [roadmap](https://github.com/xbrowsersync/app/wiki/Roadmap) and is unlikely to change for t

[2019-11-04 11:10] #126 closed

[2019-11-04 16:57] nero120 commented on #128
Thanks for the suggestion @bijang, looks interesting. Ince I'm ready to implement syncing tabs I will consider this carefully!

[2019-11-09 01:01] mtalexan opened #132 "Cannot configure extension in Firefox after logging in"
**Describe the issue you are experiencing**
The browser extension presents configuration options only when not logged in.
Before logging in, the gear icon is available in the upper right.  Clicking the gear icon allows configuration of sync settings, backup, restore, and enabling/disabling syncing.  Once setting a sync ID and logging in, only the search prompt is available and no configuration or

[2019-11-09 01:05] mtalexan commented on #132
The screenshot represents how the pop-out has always looked in Firefox for the last 2 years of using the extension.
I assume there's something inaccessible in that pop out that would solve this problem, and there used to be a second way to access the options before Firefox eliminated it.

[2019-11-14 20:13] ipk01 commented on #131
Indeed ... no more issues after downgrading to version firefox 70 on all machines.

[2019-11-14 20:13] #131 closed

[2019-11-14 20:17] sky76 opened #133 "Startup process executes twice causing conflicts when syncing updates"
**What is the problem?**

Sometimes syncing 1 new bookmark kills 80% of my bookmarks on 3 perfectly synced machines!

**How can the issue be reproduced?**

I use xBrowserSync on 3 machines (see specs below) with Chrome (3x Version 78.0.3904.97) and Firefox, but 99% with Chrome.

I use the native Chrome Sync Profiles, but on each of the 3 machines I have disabled just the native bookmark sync part

[2019-11-15 19:27] mblais commented on #57
@cjnaz Can you share that tool with us? I had to write my own hacky script to filter out duplicate bookmarks from the backup after encountering a similar situation.

[2019-11-15 21:04] cjnaz commented on #57
I've not tried this on a recent xbs backup.  Please post and issue on my
repo if you have problems.  I still need to clean up my bookmarks, as all
in the bookmark toolbar were duplicated.
https://github.com/cjnaz/xbsjsonedit

On Fri, Nov 15, 2019, 11:27 AM Matt Blais <notifications@github.com> wrote:

[2019-11-18 21:16] nero120 commented on #131
Ah glad to hear it @ipk01!

[2019-11-18 21:56] nero120 commented on #133
Hi @sky76, really sorry to hear you're having these issues, and many thanks for providing such a detailed issue report. From the log you posted everything looks fine until...

[code]

The log shows that the post-startup update check executes twice, which it shouldn't do. That leads to the event handlers being re-enabled after the first update sync (`3zbf7j`) completes, and as the second update syn

[2019-11-19 20:35] sky76 commented on #133
Hi @nero120 - thank you for your reply.

Here I have added the sync logs from all 3 machines:

[xBrowserSyncLog_20191114210444370_Machine1.txt](https://github.com/xbrowsersync/app/files/3865922/xBrowserSyncLog_20191114210444370_Machine1.txt)
[xBrowserSyncLog_20191118082257216_Machine3.txt](https://github.com/xbrowsersync/app/files/3865923/xBrowserSyncLog_20191118082257216_Machine3.txt)
[xBrowserSy

[2019-11-20 13:27] gregersn opened #134 "Deleted bookmarks are not synced"
Installed the extension
Did a massive cleanup of duplicate bookmarks from ealier (bad) sync services
Deletion is not synced to server.

Chrome with extension from chrome store

[2019-11-21 19:56] vsatmydynipnet commented on #108
Hi, is there any progress? I miss my bookmarks on android alot. All Desktop is on 1.5 so Android can not read the bokmarks because of 1.4. Thank you

[2019-11-22 13:24] nero120 commented on #108
@vsatmydynipnet yes I'm making progress! I have been delayed in completing the release due to family commitments but hoping to get it out before xmas. Really sorry this has taken much longer than I'd hoped, bear with me.

[2019-11-22 13:36] vsatmydynipnet commented on #108
sounds great to me! thank you very much. and we all do not have enough time for things we want to do. Love this solution!

[2019-11-25 20:42] ziomik opened #136 "Ubuntu+Brave no sync"
I'm using the Brave Browser in 2 machines. One is Windows and the other Linux. Syncing on linux doesn't work. This is the error:

If I try to import the backup file made by windows I get this answer:

[2019-11-28 06:28] teeruku-github opened #137 "Sync errors when cleaning up bookmarks"
I am trying to cleanup my bookmarks and remove dead links. When I do that Xbrowsersync app on brave seems to error out. Here is the log.
[xBrowserSyncLog_20191128115613058.txt](https://github.com/xbrowsersync/app/files/3900175/xBrowserSyncLog_20191128115613058.txt)

[2019-11-29 10:06] nero120 commented on #132
@mtalexan sorry for the delay in responding to this. I think this is because your browser window isn't wide enough so it cuts off the search box. I set it to a fixed width of 500px though in hindsight i should probably update this so that it is responsive.

Can you confirm that the issue goes away if you maximise the browser window?

[2019-11-29 10:09] nero120 commented on #137
@teeruku-github currently there is a known issue when modifying multiple bookmarks at once, I have a plan to fix it in a future version.

For now, I can only suggest modifying smaller batches, and when you hit the issue, modify individually one by one. Hope that helps.

[2019-11-29 10:10] #137 closed

[2019-11-29 10:16] nero120 commented on #133
Thanks @sky76. From best I can tell, I think the problem was in the startup process, the other logs don't reveal much else. I'll track that as an issue for now, if you get more solid info on how to reproduce the issue in future please post it here.

[2019-11-29 12:29] sky76 commented on #133
Ok. I'll redo everything using a new sync ID and when the problem occurs again, I'll post detailed info again.

[2019-11-29 18:10] mtalexan commented on #132
@nero120  It does not. I tried it maximizing the window, and making the window go full screen. On a laptop, a desktop with a 4K screen, and a desktop with 4 monitors attached. The width is always too narrow and there's no horizontal scroll bar at the bottom.

I do see that it comes up properly in chrome, and that explains where the intended configuration option is supposed to be in Firefox.

Could

[2019-12-01 11:00] Zorgatone commented on #13
I'd love to sync history between different browsers!

[2019-12-03 16:56] ace13131 opened #138 "Brave Login Issue"
The issue is that i cannot get logged into the Brave-Nightly or any of the other Brave Builds on my Windows 10 Pro build 1903 laptop.  I have it working fine with Firefox on the same machine.
During the login process the sync just spins and spins and never successfully completes.  From the logs it appears that it is unable to update the local Bookmarks file.

![2019-12-03 10_54_59-New Issue · xbro

[2019-12-03 20:44] nero120 commented on #138
@ace13131 the logs are saying the other bookmarks container cannot be found. I'd be surprised if Brave have changed something fundamental with the Chromium bookmarks structure, can you create a brand new profile and add xBrowserSync to that profile and see if you get the same error?

[2019-12-03 21:48] ace13131 commented on #138
It is the same issue with a Clean Profile.  It appears from the log that it is having issues accessing the bookmarks file.

[xBrowserSyncLog_20191203154425210.txt](https://github.com/xbrowsersync/app/files/3918852/xBrowserSyncLog_20191203154425210.txt)

[2019-12-03 23:23] nero120 commented on #138
Is the issue occurring just on the nightly or do you get it on latest release? I'm running on Brave version 1.0.1 Chromium: 78.0.3904.108 (Official Build) (64-bit) on Win10 1803 and I don't get this issue.

Otherwise, could be that they've changed something fundamental in the nightly.

[2019-12-04 02:23] ace13131 commented on #138
I have the same issue on the dev beta and the stable also.  I tried each one.  Firefox works on the same computer

[2019-12-04 11:14] nero120 commented on #138
Ok can you check the browser native bookmark data, as per the following steps:

- Go to `brave://version/` and get the Profile Path value, open this path in explorer
- Browse to the file titled `Bookmarks`, open it in a text editor, it should look something like this:

[code]

The important part is that the `id` value for `bookmark_bar` should be `1` and the `id` value for `other` should be `2`. T

[2019-12-04 13:44] sviluppoSoftware opened #139 "please can you compile version 1.5 for android?"
if I read correctly the version 1.5 can also show the folders unlike version 1.4 which does not distinguish between bookmarks grouped in folders and those in the browser toolbar.
so I wanted to ask when the update will be available or at least the apk file for version 1.5 of the android app.
thnak you!

[2019-12-04 18:24] nero120 commented on #139
@sviluppoSoftware I am currently working on v1.5.1 which is mainly an update for Android and includes all of the v1.5.0 updates and more. It's taken longer than I'd hoped but I'm trying to get it out asap!

v1.5.0 doesn't include the folder view, I was planning on including it in v1.5.1 but I think I will have to push it to a future version otherwise it will take even longer to get v1.5.1 released

[2019-12-04 18:24] #139 closed

[2019-12-04 19:10] ace13131 commented on #138
That allowed me to get the Stable version of Brave Running. Still the same error on the nightly, even if i copy over the bookmark file from the working stable version.  I will use the Stable version and keep checking the nightly every once and a while.

[2019-12-04 20:03] nero120 commented on #138
Good stuff, glad it's working now!

[2019-12-04 20:03] #138 closed

[2019-12-05 19:03] cjnaz commented on #57
I've updated https://github.com/cjnaz/xbsjsonedit for working with App version 1.5.0.  This version only works on Python 3 (and properly supports unicode chars in bookmarks).
I've added a few useful modes, including printing the bookmark hierarchy and deleting duplicate folders.  Aside from cleaning up xBrowserSync remnants, this tool can be quite useful for general bookmarks maintenance/cleanup.

[2019-12-05 22:28] nero120 commented on #132
That is very strange, I've not had anyone report that before. If you create a brand new Firefox profile, then add xBrowserSync do you still get the issue?

[2019-12-06 20:39] mtalexan commented on #132
I created a new profile, and when I installed xBrowserSync and created a new sync id it does seem to work.

I was able to solve the problem with my existing install by creating a new profile, associating it with my prior Firefox sync account, making it the default profile, and deleting the old profile.

Thanks for the solution.
\-------- Original Message --------
On Dec 5, 2019, 14:28, Rich < noti

[2019-12-07 19:23] nero120 commented on #132
Glad to hear it's sorted! Just be aware that using xBrowserSync and Firefox Sync together can lead to bookmark conflicts/corruption.

[2019-12-07 19:23] #132 closed

[2019-12-08 15:06] matthewdavis opened #140 "Firefox Extension - Onboarding Wizard never ends"
**Describe the issue you are experiencing**
The onboarding wizard will not end. Even if I try to skip, the Skp will not work. After getting to the end of the wizard, and click on Close, it does not close and starts over again.

**How can the issue be reproduced?**
Steps to reproduce the behavior:
1. Fresh Firefox Install (I'm actually using the [ghacks user.js](https://github.com/ghacksuserjs/ghac

[2019-12-08 22:08] nero120 commented on #140
@matthewdavis I can't recreate this in Firefox 71. Can you please re-try with a brand new, unmodified Firefox profile and without ghacks please?

[2019-12-09 14:09] matthewdavis commented on #140
Ok. Fresh install, no issue. I'll re-open if I can pin-point the issue (as an FYI). But it doesn't look to be an issue on your end. Sorry for the noise.

[2019-12-09 14:09] #140 closed

[2019-12-09 14:46] nero120 commented on #140
Ok thanks for confirming @matthewdavis!

[2019-12-11 03:48] Rob4226 commented on #133
I think I am having a similar issue.  I sometimes lose big chunks of bookmarks for seemingly no reason. It happens every couple of weeks without any warning (no errors, no sign of issues). It actually just happened today where every other bookmark disappeared in one section of my bookmark list. I can't figure it out but I have a feeling that firefox is to blame somehow.  I say this because I use c

[2019-12-11 08:49] sky76 commented on #133
Hi @Rob4226 , I use the Chrome Extension "[Über Simple Bookmark Count](https://chrome.google.com/webstore/detail/%C3%BCber-simple-bookmark-coun/mogbbilahcoegijagmcmleheifpijffa)".
It occupies one position in the toolbar, but it gives me the visual feedback that the number of my bookmarks is "ok".
Besides that I export my bookmarks as an html file which can easily be imported again in Chrome or Fir

[2019-12-11 09:12] sky76 commented on #133
Just a quick note - the size of the JSON file might vary if your favicon data is saved there as well. When I export my bookmarks manually, the favicon data (BASE64 encoded or something like that) makes up for more than half of the file size. Don't know whether this gets exportet by your extension.

Anyhow - when I clear my bookmarks entirely(!) and import the backup HTML file, no "Bookmarks backup

[2019-12-11 15:47] Rob4226 commented on #133
Thanks @sky76 for the [ "Über Simple Bookmark Count" Chrome extension](https://chrome.google.com/webstore/detail/%C3%BCber-simple-bookmark-coun/mogbbilahcoegijagmcmleheifpijffa) idea!   This will definitely make it much easier for me to track the number of bookmarks so maybe I will be able to pinpoint the conditions that causes a loss of bookmarks for me.

The JSON backup doesn't have the favicon

[2019-12-11 16:36] matthewdavis commented on #140
Btw, I'm not sure how many users you have on Fedora and Firefox, but I believe the issue I encountered was attributed to [this](https://bugzilla.redhat.com/show_bug.cgi?id=1779570). Just FYI. There is a fix and I'm using the -15 rpm and the onboarding wizard (if thats what you call it) completed successfully.

[2019-12-11 17:07] nero120 commented on #140
Ah thank you for that @matthewdavis, very useful!

[2019-12-11 17:23] nero120 commented on #133
Unfortunately I've not managed to find a reproducable instance of the issue which makes it very hard to debug. It's definitely there as users are experiencing it, I can't say whether it's Firefox only where the issues occurs. Can you tell me if you had made any bookmark changes when the issues have occurred or when you've noticed the missing bookmarks? I'm wondering if it happens when checking for

[2019-12-11 17:25] nero120 commented on #133
Very useful suggestion, thanks!!

[2019-12-11 17:31] nero120 commented on #133
As bookmark data is encrypted client side, you'd need to write the decryption process into your script in order to get the raw JSON, then parse the JSON and count the number of bookmarks from there. If you'd like to attempt this then [this](https://github.com/xbrowsersync/app/issues/105) issue might assist you.

[2019-12-12 01:52] Rob4226 commented on #133
@nero120 Thanks for the replies!  I did the above test and yes it fixed the broken id's perfectly!!  I wish I could just use that as my main bookmark sync but it doesn't keep the descriptions or tags.

I looked at my regular backup closer and found where the ids stop counting correctly, it stops at 213 (out of a total of 807)...And now I see what is happening, the next id is "8491" including the p

[2019-12-13 10:47] nero120 commented on #133
When creating a new sync it gets the bookmark data from the Chrome API, since Chrome does not support descriptions or tags it cannot keep them, so yes not the best solution to your issue.

If you can manually replace the broken string ids with unique integers that increment from the highest existing integer id then it will fix the issue once you restore the edited backup file.

[2019-12-15 04:29] trymeouteh opened #141 "Android: Manage bookmark folders"
When you add a bookmark on your Chrome/Firefox desktop browser like you normally would and save it to a folder it will sync. The Android app does not allow you to save or edit the bookmark folder nor will it allow you to view your bookmarks by folder. Please allow folder organisation on Android. This app is perfect otherwise!

[2019-12-15 11:49] r4taw2mg commented on #128
Hi. After a short research on synching open tabs across browsers/devices, I have landed here. Currently it seems, like there is no app or service available offering this service, right? Only synching across identical browser engines (Chrome, Firefox) seems to be available. I still hope, I am wrong. Any pointers will be appreciated.

[2019-12-15 13:21] bijang commented on #128
seems like that, this project is promising but not much activity for likely very valid real world reasons,
IMHO i think it would need a monetary model, whatever that may be, like etesync or bitwarden, to first pay for a 3rd party audit of their security, and then maybe other developers to implement tab/otherfeature support,
I don't yet use etesync because of a (planned) audit; similarly bitwarden

[2019-12-15 15:37] r4taw2mg commented on #128
I, too, see the possibilities. I am not sure, a security audit has to be one of the first steps, but developer engagement is always critical. So many promising FOSS projects start with a lot of motivation but dying of sooner or later. So many, I started giving donations to stuff, I use regularly. But finding ways of monetization while staying true to 'free' is hard.

[2019-12-15 15:49] bijang commented on #128
yes its hard to ask for money, but not impossible or unethical and the afformented examples are a testament and example to that; though security audit, first step or not, is mandatory, it wouldnt be acceptable as a serious "secure" project, from a PR point of view at minimum, more imporatantly from an objective security point of view,.... I think as mature users we have to evaluate the benefites o

[2019-12-15 22:01] nero120 commented on #128
I appreciate the concerns, indeed it is the nature of FOSS that devs contribute to them in their spare time as they are by definition not businesses with a profit model to incentivise investment of time. In my own case I would love to spend more time on xBrowserSync and finish implementing the requested features, I fully intend to but currently have limited time to spend on it, hence why the curre

[2019-12-15 22:04] nero120 commented on #141
Thanks @trymeouteh, the current release I'm working on (v1.5.1) is primarily an update to the Android app bringing it up to date with the v1.5.0 desktop browser extension release. I have a plan to implement folder management for all platforms, though currently looks like it will come in the next release after v1.5.1.

[2019-12-16 01:44] Rob4226 commented on #133
Yeah, I figured a new sync gets its data directly from chrome which only has a url and title.  To fix my bookmark sync I am going to write a python script that recursively traverses the new syncs JSON that I know has correct structure and id numbers, and then add the missing data like description and tags from the messed up sync.  The script will match on the url field and output a new JSON file t

[2019-12-16 15:21] r4taw2mg commented on #128
Please don't get me wrong. I appreciate the work you are doing and I wish you lots of fun and lots of success and that your professional and private environment lets you concentrate on the things that you like to do. I was just referring to the changes that affect our lifes. Sometimes this make shifting attention and energy necessary. And sometimes people just move on.

[2019-12-17 01:16] marvingreenberg opened #142 "Add tags to search differently - e.g. @folder:work, @after:2d, @before:1m"
**Is your feature request related to a problem?**
I think it is related to the tags losing dates on the initial sync, or something.  I've just synced and hitting return on the sync search is returning bookmarks from years ago.  But, the capability is still probably useful since if I want to find some bookmarks from the summer saying something like @before:3m (before 3 months ago) or @before:201909

[2019-12-17 20:24] bijang commented on #128
Agree the project and work is very appreciated

[2019-12-17 23:07] nero120 commented on #128
Thanks guys 🙇

[2019-12-17 23:13] nero120 commented on #142
Thanks for the suggestion @marvingreenberg, meta searches is a great idea and would definitely like to implement this kind of thing in a future release.

Just for info, currently xBrowserSync does not store dates with bookmarks so querying by date wouldn't be possible at this time.

[2019-12-18 00:01] marvingreenberg commented on #142
Doesn't the existing... Oh, it says sorted by most recent, but that's just the order (or some order) of addition.  It seems like it could add the dates as things are synced, perhaps.  It wouldn't have to be super accurate just to the day or so, which presumably sync date would provide.

[2019-12-18 09:27] nero120 commented on #142
Yes it's the order of addition, bookmarks are shown by default in search by order of id descending, which implies most recently added are displayed first. Once you type a query they are displayed by relevancy. It was a design choice not to include dates as the Web Extension APIs include no ability to set/update or query dates, and the space required to store all of these dates would limit the amou

[2019-12-18 11:06] marvingreenberg commented on #142
Fair enough.  But, not meaning to be argumentative, you could store year and day as YYddd. Like 19350 for today (maybe). Which would take 2 bytes (per bookmark, at least for the next 40 years). Maybe 5%? Stripping the most common scheme https:// would get you back 8 bytes (probably you do that already).

Personally I'm disorganized.  When I'm trying to find something I bookmarked I want more ways

[2019-12-19 19:52] marissarousseau opened #143 "Move search bar to bottom of screen"
Currently the search bar is at the top of the screen, which makes it somewhat difficult to reach on taller devices. It would be convenient to at least have an option to move the search bar to the bottom of the screen for quick access to searching your bookmarks.

[2019-12-26 08:41] omnislash79 opened #144 "Function not implemented. A required function has not been implemented and is causing xBrowserSync to not function correctly"
**Describe the issue you are experiencing**
A clear and concise description of your issue: after updating to Android 10 the app is not working correctly .

**How can the issue be reproduced?**
Steps to reproduce the behavior:
1. Go to:  Open  App
2. See error

**Screenshots**
If applicable, add screenshots to help explain your problem:
<img src="https://i.imgur.com/6VKH880.jpg" alt="hi" class="inl

[2019-12-27 19:28] lsylvain commented on #100
If thus was available for Brave on Android, specifically on Kindle Fire, it would be a great benefit.  I realize that Amazon is at war with Google and has a near closed system (though not nearly as closed as Apple), but I have been able to download APKs for software such as Brave, which is the only really decent browser for the Fire.  Currently there is no way to sync Brave on the Fire as there is

[2019-12-28 15:12] nero120 commented on #142
Thanks for the feedback @marvingreenberg, it's definitely appreciated. I'm sure it will be implemented at some point, as you say though have to prioritise things aggressively due to limited spare time.

[2019-12-28 15:16] nero120 commented on #144
Thanks for reporting @omnislash79, will get this resolved in the upcoming release.

[2020-01-02 20:21] dondretrotman opened #145 "Crash when syncing in ChromeOS"
**Describe the issue you are experiencing**
When waking up my chromebook after syncing my bookmarks from another device to xbrowsersync, the chromebook freezes until the xBrowserSync extension crashes.

**How can the issue be reproduced?**
Steps to reproduce the behavior:
1. add a bookmark on another device. Sync using xBrowserSync
2. After syncing, wait for xBrowserSync to automatically sync book

[2020-01-02 23:17] gilvandovieira commented on #100
@ me when this is implemented!
Waiting for this so bad.

[2020-01-06 11:32] tuxStarElan opened #146 "Android App 1.5.0 missing"
as mentioned in the readme the android app should be available "very soon"
By the way can the v1.4 android app be used with the v1.5 desktop extension without problems?

[2020-01-06 13:32] nero120 commented on #146
I'm currently putting the finishing touches to v1.5.1 which will be released for Android (as well as desktop extensions) and includes all the major v1.5.0 updates. Should be out in the next few weeks, time allowing.

Yes it can.

[2020-01-06 13:32] #146 closed

[2020-01-06 13:35] tuxStarElan commented on #146
Cool.
Thanks for the great work.

[2020-01-06 19:53] 3xploiton3 opened #147 "Merge firefox bookmark and chrome"
**Describe the issue you are experiencing**
A clear and concise description of your issue:
I have chrome bookmark and firefox bookmark, how to merge/join to 1 ID xbrowsersync?
i don't see option for this,

**How can the issue be reproduced?**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots to h

[2020-01-07 07:52] Rob4226 commented on #100
Damn on Win10 xBrowserSync was working perfectly in Brave but now just hours ago, an update of Brave came out and renamed the "Bookmarks bar" folder to "Bookmarks" and what really broke it was they nested the "Other bookmarks" folder under the "Bookmarks" folder.  Now xBrowserSync does not work at all.  Of course, I literally just got down customizing xBrowserSync by adding the date the bookmark w

[2020-01-07 11:07] nero120 commented on #100
@Rob4226 i was afraid they would do this at some point. It will require a new platform implementation for Brave. This is no easy task even if you are familiar with the xBrowserSync code base and native apis.

I am currently finishing off v1.5.1 for release within the next couple of weeks which will bring the android app up to date. Once that's done i will start work on v1.6.0 which will implement

[2020-01-07 16:09] Rob4226 commented on #100
@nero120 Ok thanks for the response!  In that case, I will just wait for v1.6.0  In the meantime, I'll just use a previous release of Brave that works.  I just did that and I can confirm the Chrome extension works again, at least on Windows 10. For anyone else who runs into this problem, the latest release of Brave that fully works with xBrowserSync (up to v1.5.1) is v1.1.23 which can be found her

[2020-01-07 20:07] nero120 commented on #100
Thanks for the info @Rob4226!

[2020-01-07 21:07] trymeouteh commented on #92
I would like this too. I just had a sync ID get a bookmark structure corrupted and I created a new sync ID. However I would like to delete the old sync ID for privacy. I know no one can read the bookmarks but to have the ability to delete a sync ID allows you to delete your bookmarks from the cloud.

[2020-01-07 21:08] trymeouteh commented on #144
I get this on my Android devices, is this related to the chrome extension error?

[code]

[2020-01-07 21:17] trymeouteh commented on #136
I got this too. I wonder if it is because Brave sync even when it is not used is causing issues with xbrowsersync to function. I believe that only on bookmark syncing tool can run at a time and if Brave sync is "running" even if it is not being used, it could be preventing xbrowsersync from working.

[2020-01-07 23:11] nero120 commented on #136
@ziomik if you could provide some log files that include the error that would be useful.

@trymeouteh if Brave sync is disabled then it would not be updating bookmarks that could cause conflicts with xBrowserSync, so very unlikely.

[2020-01-07 23:33] nero120 commented on #147
The only way to merge currently is manually unfortunately. Take a backup for each sync ID (sync to the ID then download a backup from the Settings panel), open each file in a text editor and then do the following:

1. In the backup from Chrome, find the `[xbs] Other` bookmark, and copy all of the bookmarks within it's `children` property. Don't copy the square braces (`[`/`]`), start with the firs

[2020-01-07 23:33] #147 closed

[2020-01-07 23:45] nero120 commented on #145
@dondretrotman I'm really sorry but I don't have the capacity to support ChromeOS. Your log file does not suggest any error causing the problem as such, perhaps it's an issue with the way ChromeOS allocates resources but that's just a guess, and I wouldn't be able to fix it if it was. 😞

[2020-01-07 23:45] #145 closed

[2020-01-08 16:36] marvingreenberg opened #148 "Add merge bookmarks in addition to save/restore"
This is really a duplicate of #147 but that was a little specific and wasn't framed as a feature request.

It should be possible to add the functionality on the Settings menu, either a new button or a checkbox [] Merge restored bookmarks above (Restore).

If a simple merge is possible, merge the bookmarks.  Else warn that you have to do it manually.  I'm currently unsure under what conditions it w

[2020-01-08 17:15] trymeouteh commented on #136
https://privatebin.net/?d39087eea5a07c57#5J8MrfwpgF1Dm6bknAtHHuFMyW3R4hjFAnNdnujTQCuh

Here is my log

[2020-01-08 21:46] nero120 commented on #136
Ah ok, looks like it's the [Brave update](https://github.com/xbrowsersync/app/issues/100#issuecomment-571476516) which broke bookmark compatibility with chromium, from your log:

[code]

xBrowserSync doesn't officially support Brave until v1.6.0 and this is being tracked [here](https://github.com/xbrowsersync/app/issues/100), so I'm going to close this issue. I'll update the main Brave support iss

[2020-01-08 21:46] #136 closed

[2020-01-08 21:48] nero120 commented on #148
Thanks @marvingreenberg. Shouldn't be too hard to update the Restore functionality to add a replace/merge option, will try to work into into one of the next few releases.

[2020-01-08 23:51] nero120 commented on #133
@Rob4226 your id issue should now be resolved (ed354e7de92a7ccb5e13b7951654b66695e04154). When v1.5.1 is released, if you disable then re-enable your sync it should fix any invalid bookmark ids automatically.

[2020-01-09 02:08] marvingreenberg commented on #148
OK.  It may be a little bit (days or a week) before I can get around to looking at it.

[2020-01-09 07:35] Rob4226 commented on #133
@nero120 Awesome, thank you very much!

[2020-01-09 15:10] #143 closed

[2020-01-09 15:11] nero120 commented on #143
@marissarousseau this will be released with v1.5.1 within the next few weeks.

[2020-01-09 16:30] marissarousseau commented on #143
Awesome, glad this feature is coming! Thank you.

[2020-01-10 14:18] 3xploiton3 opened #149 "Not showing all bookmark"
**Describe the issue you are experiencing**
A clear and concise description of your issue:
last day i have to do merge bookmark chrome and firefox, using tool from firefox (more easy way for end user)
then i tested, i create new id, and search keyword github in firefox bookmark show many bookmark, but in xBrowsersync only showing 2,
do i something step wrong?

sorry for my bad english,

**How can

[2020-01-10 16:08] nero120 commented on #149
I think that's actually the correct expected results for the query "github" - search will not include partial urls unless you type the url host, so try searching with the query "githb.com" or "raw.githubusercontent".

[2020-01-15 19:12] #16 closed

[2020-01-15 19:13] nero120 commented on #16
Long time coming this one, glad to have finally implemented it and hope you all like it! v1.5.1 should be available within the next week or so.

[2020-01-16 10:37] LaurentOngaro opened #150 "Extension is not compatible with the last Brave versions (1.2.x)"
The brave browser team has recently changed the folder structure of their bookmarks.

This is a breaking change that make **all sync extensions unworkable**.

As the others, xbrowsersync is not working anymore and the sync process seems to run in an infinite loop after launched

The Brave team has been informed of this issue by several users, but I'm not sure they will revert the changes.

Perhaps

[2020-01-16 12:35] nero120 commented on #150
Hi @LaurentOngaro, since xBrowserSync does not officially support Brave yet it's not a separate issue to be tracked, you can track implementation progress [here](https://github.com/xbrowsersync/app/issues/100).

However, unfortunately until Brave have implemented a workable solution I can't implemented support in xBrowserSync so I'll keep an eye [here](https://github.com/brave/brave-browser/issues

[2020-01-16 12:35] #150 closed

[2020-01-16 13:29] LaurentOngaro commented on #100
@Rob4226 , I'll downgrade my version too, hoping that Brave will make sync extensions work again soon.
If not, I'll change to another browser, because cross browser syncing is really important for me.
I will be sad to do that, because brave is really a great alternative on many points

[2020-01-16 13:33] LaurentOngaro commented on #150
Hi @nero120 , thanks for your so quick answer.
I understand your choice, and I disagree with those made by the Brave team (breaking backward compatibility).
I hope they will fix this issue because Brave is really good on many points.
If not, Vivaldi will be my alternative.

[2020-01-16 16:14] nero120 commented on #150
[This](https://github.com/brave/brave-browser/issues/7639#issuecomment-573259648) response from the big dog tells me they will sort it... 😉

[2020-01-19 18:11] ziomik commented on #100
Quote..

[2020-01-22 06:14] JMS11890 opened #151 "Extension stuck in continuous Sync"
**Describe the issue you are experiencing**
A clear and concise description of your issue:

1- Start Browser normally
2- Xbrowsersync starts syncing and keeps on syncing without stopping and without updating changes in bookmarks

**How can the issue be reproduced?**
Steps to reproduce the behavior:
1- Start Browser normally
2- Xbrowsersync starts syncing and keeps on syncing without stopping and w

[2020-01-22 07:26] nero120 commented on #151
Hi @JMS11890, Brave recently released an update which changed the bookmarks structure and [broke](https://github.com/brave/brave-browser/issues/7639) compatibility with Chrome. They are currently working on a fix for this, but in the meantime if you want to use xBrowserSync you'll need to [downgrade Brave](https://github.com/xbrowsersync/app/issues/100#issuecomment-571653598).

As Brave is not yet

[2020-01-22 07:26] #151 closed

[2020-01-22 07:58] JMS11890 commented on #151
@nero120 Thanks Rich, I will downgrade then.

[2020-01-24 01:37] cburkins opened #152 "Slow deletion of bookmarks"
**Describe the issue you are experiencing**
Every few days, I discover a bookmark is missing.

**How can the issue be reproduced?**
I very rarely delete bookmarks, so hoping there's some sort of log file (via API ?) that might show me any bookmarks deleted in the last few weeks.

**Screenshots**
None yet

**Desktop browser**
Chrome on Mac, Chrome on Windows, Firefox on Mac, Firefox on Windows.

 -

[2020-01-24 01:55] VijendraMalhotra opened #153 "Sync is stuck on Brave"
**Describe the issue you are experiencing**
Sync on a new install of Brave seems to be stuck in an endless loop.

**How can the issue be reproduced?**
Steps to reproduce the behavior:
1. Install Brave / start a new sync
2. sync will to into an endless loop.

**Desktop browser**
Please complete the following information for all affected desktop browsers:

 - OS: macOS
 - Browser Brave
 - Version  v

[2020-01-24 11:53] nero120 commented on #153
Brave recently released an update which changed the bookmarks structure and [broke](https://github.com/brave/brave-browser/issues/7639) compatibility with Chrome. They are currently working on a fix for this, but in the meantime if you want to use xBrowserSync you'll need to [downgrade Brave](https://github.com/xbrowsersync/app/issues/100#issuecomment-571653598).

As Brave is not yet officially su

[2020-01-24 11:53] #153 closed

[2020-01-25 21:43] jcrben commented on #15
In the meantime, if it comes up, Firefox does apparently do automatic backups which I found in `~/.mozilla/firefox/gnm7ka3x.default-release/bookmarkbackups`.

[2020-01-26 11:29] methanoid commented on #15
Thanks but IO stopped using FF years ago. Chrome now.  Had to stop using XBS too cos it would barf too much when doing multiple changes to bookmarks and then it started to lose stuff for me. real shame cos its the ONLY replacement to Xmarks we have :-(

[2020-01-28 22:36] hosadokha opened #154 "Some Critical functionality features that we need..."
I am aware what this extension is capable of.. **but it is too minimal for what I need**
I like that this is totally independent on Google but the world needs online backup _**not just for bookmarks, but for History (such as U History extension, but it depends on G. sync) and extensions backup and (browser & extension) Settings backup, all into one cross platform powerfull extension**_, where i am

[2020-02-01 12:00] kpinel opened #155 "Sync issue - Firefox on Windows"
Recently installed XBrowserSync to test as a sync tool but I am having trouble making bulk changes to bookmarks in Firefox. Each time I attempt a bulk change such as sorting or adding tags to several bookmarks my CPU goes to 100% and, after a few seconds, the extension crashes with the following lines in the log
2020-02-01 11:40:15.765	[trace]	Sync 17qmzf9 (push) queued (60 waiting to sync)
2020-0

[2020-02-01 12:12] kpinel commented on #155
Attached latest log. Anything else you need?
[xBrowserSyncLog_20200201214221319.txt](https://github.com/xbrowsersync/app/files/4142523/xBrowserSyncLog_20200201214221319.txt)

[2020-02-01 14:24] hacker-h opened #156 "Remove notification if syncing is not possible due to connectivity issues"
**Is your feature request related to a problem?**
A clear and concise description of what the problem is:
Everytime I launch my browser after booting the network stack is apparently not ready yet and causes the xbrowsersync app to yield a popup, which informs me that a sync is not possible.
Those popups are frustrating because they have to be manually clicked away.

**Tell us about your idea**
As

[2020-02-01 22:32] nero120 commented on #152
Couple of questions:

- Is there any relevant action that you perform that you can think of that consistently coincides with bookmarks going missing, e.g. opening your browser to find that the bookmark is suddenly gone, changing a sibling bookmark, etc.
- Do you move bookmarks around in Firefox using the bookmark manager window at all?

[2020-02-01 22:42] nero120 commented on #154
Hi @hosadokha, thanks for the comments. Have a look at the [Road Map](https://github.com/xbrowsersync/app/wiki/Roadmap) to see what are the major features planned for version 1 of xBrowserSync.

Unfortunately, syncing of browser settings is just not possible as no browser API exists to interact with. There is an API for Extensions, but from what I can tell it is only possible to query and uninstal

[2020-02-01 22:42] #154 closed

[2020-02-01 23:06] nero120 commented on #155
Hi @kpinel:

- Your mileage may vary when using automatic bookmark sorters with xBrowserSync, there is already an issue open for this [here](https://github.com/xbrowsersync/app/issues/120).
- There are a number of bugs in Firefox's bookmarks API that is causing issues in xBrowserSync v1.5.0, check the [known issues](https://github.com/xbrowsersync/app/wiki/Known-issues) list for more info.

I've r

[2020-02-01 23:49] jcrben opened #157 "Password reset?"
Note, this might be better handled by contact but https://www.xbrowsersync.org/contact/ is a 404.

The FAQ should explain how to handle forgotten passwords

The below template is not really relevant. I simply forgot my password and it's not clear how I proceed from there. Also, I don't want to simply create a new sync as I'd rather the data get flushed if I'm going to do that.

**Describe the issu

[2020-02-02 00:10] nero120 commented on #157
Thanks, I've now fixed the incorrect link.

Indeed it does: https://www.xbrowsersync.org/?faqkw=forgotten%2520my%2520password#faqs

The "password" you enter is simply an encryption key, it cannot be recovered or reset. This is why the help text in the extensions says _"Be sure to make it strong but also memorable, there are no resets or reminders so if you forget it you won’t be able to access you

[2020-02-02 00:10] #157 closed

[2020-02-02 00:15] hosadokha commented on #154
wow this cleared up things for me thank you...
so ur saying we should blame Google?\
i dont fully understand because i know Chromium is opensource, so anyone could make an API if not google..

[2020-02-02 00:24] nero120 commented on #154
Indeed, here you go: https://chromium.googlesource.com/chromium/src/ 😉

[2020-02-02 00:30] jcrben commented on #157
I see. It would help to provide the FAQ as a single page. I didn't click "More" often enough. And I prefer to use CTRL+F to search for keywords.

How long until my data gets flushed out?

[2020-02-02 00:34] cburkins commented on #152
Hi Rich, thanks for replying, that was nice of you as I haven't been able to provide much good data for you yet.   I use xbrowsersync across three (or four ?) different computers to keep all my bookmarks in sync, using the same Sync ID for all.   Most of those browsers are Chrome, though I *might* be using Firefox in one case (I can look if that's relevant).   I do not manually reorganize my bookm

[2020-02-02 10:32] nero120 commented on #152
@cburkins thanks for the info. I've recently committed a number of updates that will hopefully improve the situation for both Firefox and Chrome, would you be willing to try the new release to see if it resolves any of your issues:

https://github.com/xbrowsersync/app/releases/tag/v1.5.1beta2

In Chrome, you'll need to enable Developer Mode in `chrome://extensions/`, then you should be able to dra

[2020-02-03 21:17] jcrben opened #158 "Unable to move multiple bookmarks into sibling folders"
**Describe the issue you are experiencing**
When I drag multiple bookmarks over into a new folder in Google Chrome, an error throws.

**How can the issue be reproduced?**
Steps to reproduce the behavior:
1. Go to the Google Chrome Bookmarks Manager
2. Click on a bookmark folder: "Bookmarks bar->dev->interviewing"
3. Select more than one bookmark using Shift+Click and drag them into "Bookmarks bar-

[2020-02-03 21:28] nero120 commented on #158
Hi @jcrben, I've recently fixed a number of bugs when moving bookmarks, would you be willing to try the latest beta and see if it resolves your issue? I'd be very grateful!

https://github.com/xbrowsersync/app/releases/tag/v1.5.1beta2

In Chrome, you'll need to enable Developer Mode in `chrome://extensions/`, then you should be able to drag the zip file to install the update. If you also want to i

[2020-02-03 21:55] jcrben commented on #158
It says:
![image](https://user-images.githubusercontent.com/5614134/73694036-2185bd00-468c-11ea-9e25-8a58c30ff5ac.png)

Error looks similar:
<details>

[code]
</details>

[2020-02-03 22:10] nero120 commented on #158
Ok thanks for trying @jcrben, I've replicated the error and will sort out a fix.

[2020-02-04 23:53] nero120 commented on #158
Uploaded a new [beta](https://github.com/xbrowsersync/app/releases/tag/v1.5.1beta) with the fix, give it a try if you have a moment.

[2020-02-05 12:36] cdytoby opened #159 "When recycle bin of the bookmarks is cleared, it says "Sync Error""
**Describe the issue you are experiencing**
A clear and concise description of your issue:

When I empty the recycle bin of the bookmarks, it says "Sync Error".

![image](https://user-images.githubusercontent.com/15671368/73840412-6b9ba980-4818-11ea-9637-67664856f603.png)

**How can the issue be reproduced?**
Steps to reproduce the behavior:
1. Go to Bookmark Sidebar (left side of the browser)
2.

[2020-02-06 19:49] nero120 commented on #159
@cdytoby Vivaldi is not currently supported, it is currently targetted to be added in v1.6.0. You can follow the existing feature request [here](https://github.com/xbrowsersync/app/issues/6).

[2020-02-06 19:49] #159 closed

[2020-02-06 19:52] nero120 commented on #158
@jcrben it has become clear that there is more complexity to fixing the existing bugs when moving bookmarks, so I've backed out the changes I made in order to not delay the current release any further. I have re-opened this issue and will hope to resolve this complex issue once the current release is out.

[2020-02-06 22:34] nero120 commented on #156
Why did this get closed? From the issue template guidelines:

[2020-02-06 22:34] #156 closed

[2020-02-06 22:41] #155 closed

[2020-02-06 22:44] nero120 commented on #149
No response so I'm assuming my previous answer covered it.

[2020-02-06 22:44] #149 closed

[2020-02-06 23:17] nero120 commented on #15
@methanoid indeed there are still bugs with moving multiple bookmarks, especially in Firefox. It's a complex use case and I have a plan to greatly improve, if not fix it altogether, but it will unfortunately have to wait until after the current release is out.

I've been putting off releasing v1.5.1 for too long trying to get more stuff in, but this fix is too complex.

[2020-02-07 00:15] cburkins commented on #152
Do you think my issues stem from using the plugin within Firefox ?  If so,
I'm not a heavy firefox user, so I'm tempted to simply disable there.

On Sun, Feb 2, 2020 at 5:32 AM Rich <notifications@github.com> wrote:

[2020-02-07 00:18] nero120 commented on #152
@cburkins it's definitely possible. If you could disable in Firefox and only use xBrowserSync on multiple Chrome browsers that would be a very good test - if the deletions stop then I know the problem is with Firefox. At the moment it's very difficult to nail down the issue as I cannot replicate it. 😢

[2020-02-07 19:12] cburkins commented on #152
Roger that, Rich.   Yup, I've removed from all Firefox configs, and will
let you know if I still see problems.    At the moment, it looks like I've
only got 176 bookmarks left.   Pretty sure it was alot more than that
before.   But hey, they're just bookmarks, right ?

I'm assuming that xBrowserSync doesn't have any long-term history on my
bookmarks ?

On Thu, Feb 6, 2020 at 7:18 PM Rich <notifica

[2020-02-07 19:30] nero120 commented on #152
@cburkins thanks, I appreciate it. If you restore from a previous backup then you can compare the total number.

[2020-02-09 23:43] nero120 commented on #144
v1.5.1 has just been released that should resolve this issue - @omnislash79 could you please confirm?

[2020-02-10 03:38] omnislash79 commented on #144
beside me forgetting the passphrase it works now ^_^, I didnt see it listed on f-droid though.

2020-02-10 03:29:03.828	[trace]	{"appVersion":"1.5.1","displayHelp":true,"platform":{"name":"Android","device":"OnePlus ONEPLUS A6013"}}
2020-02-10 03:29:51.706	[trace]	Scanned: ------------------------------------
2020-02-10 03:30:04.955	[trace]	Sync 14q0cd9 (pull) queued (1 waiting to sync)
2020-02-10

[2020-02-10 08:38] nero120 commented on #144
Glad to hear it @omnislash79! It is an automated process that updates it on F-Droid which I don't control, I expect it will be picked up within a few days but I'm not sure what the schedule is - I will keep an eye on it.

[2020-02-10 08:38] #144 closed

[2020-02-10 13:37] graphixillusion commented on #133
I've got the exactly same issue. Hopefully i restored everything from a backup but this is the third time i've got this. What about so add some sort of rollback function? So if anything goes wrong you can restore back to some previous version...

[2020-02-10 20:37] nero120 commented on #133
@sky76 @Rob4226 @graphixillusion v1.5.1 has now been released, give it a try and see if it resolves your issues.

[2020-02-10 21:24] sviluppoSoftware opened #160 "firefox desktop (72.0.2) crashes after installing the extention (v 1.5.1) and tring to import bookmarks"
after installing the extension from the firefox store and log in, the warning appeared that all my bookmarks would be deleted after the bookmarks are removed I restore them, first using the relative browser function then also with the file bookmark html exported from firefox before installing the extension, but immediately the browser freezes consuming a lot of cpu and also the operating system (u

[2020-02-10 21:39] nero120 commented on #160
You need to attach the log as it says in the issue template!!!

[2020-02-10 22:12] sviluppoSoftware commented on #160
sorry, it was difficult to download the log because the browser was blocked at every start ... however here it is, for privacy reasons I deleted my syncID I don't think it's important
[xbs_log_20200210225836.txt](https://github.com/xbrowsersync/app/files/4183301/xbs_log_20200210225836.txt)

[2020-02-10 22:19] nero120 commented on #160
Ok thanks @sviluppoSoftware, from your log:

[code]

The above logs show that you successfully connected to an existing sync.

[code]

25 seconds after you downloaded the log file, for some reason there are 640 onCreated events, that means 640 bookmarks were created and xBrowserSync detected those events and attempted to sync them, that's why your CPU spiked (Firefox is not the best browser at han

[2020-02-10 22:24] sviluppoSoftware commented on #160
What did you do to trigger this many onCreated events? Do you have Firefox sync (or any other sync tool) enabled?
i have imported my bookmarks, first time using the relative browser function then also with the file html exported from firefox before installing the extension

[2020-02-10 22:31] nero120 commented on #160
Ah yes you did say that in your original post. Ok, so importing using the native browser import tool whilst xBrowserSync was synced was what caused the issue. So, I recommend:

- Disabling sync in xBrowserSync
- Import your bookmarks using the native browser import
- Create a new sync in xBrowserSync which will now have synced all of your imported bookmarks

Note: once you are synced you shouldn't

[2020-02-10 22:31] #160 closed

[2020-02-10 22:46] sviluppoSoftware commented on #160
thank you a lot for assistance, now sync  correctly!

[2020-02-10 22:47] nero120 commented on #160
Glad to hear it @sviluppoSoftware, enjoy!

[2020-02-11 08:25] LundGB opened #161 ""Connection is not defined" error on Chrome OS"
**Describe the issue you are experiencing**
A clear and concise description of your issue:
Bookmarks synced from Firefox on desktop Windows 10 PC can no longer be synced to Chrome browser on Chromebook.  Syncing has worked flawlessly for months but has just stopped working suddenly.
**How can the issue be reproduced?**
Steps to reproduce the behavior:
1) Install latest 1.5.1 version of Xbrowsersyn

[2020-02-11 08:39] nero120 commented on #161
Unfortunately I do not have a chrome book, and there are no errors in the log so I can't see what's wrong. Can you try syncing in Chrome on your Windows 10 machine that you're running Firefox on and see if you get the same issue?

[2020-02-11 10:35] ziomik commented on #133
We can finally use XBrowserSync on Brave! Thanks for this important update!

[2020-02-11 13:14] methanoid commented on #15
I understand real life also affects development....   Please do tag me when the new version is out as I am always willing to try new ones as this is the only hope for "proper" sync and backups of bookmarks.

[2020-02-11 21:23] zampanoo commented on #161
Same problem here: update 1.5.1 broke syncing with chrome browser on chromebook. Reinstalling did not help.

2020-02-11 21:16:10.644	[trace]	Installed v1.5.1
2020-02-11 21:16:10.662	[trace]	Starting up
2020-02-11 21:16:10.699	[trace]	{"displayHelp":true,"displayPermissions":true,"appVersion":"1.5.1","platform":{"name":"chrome","version":"79.0.3945","mobile":false,"os":"Chrome OS x86_64"}}
2020-02-

[2020-02-11 21:50] nero120 commented on #161
@LundGB @zampanoo I need more info to figure out what's going on here, can either/both of you do the following please:

1. Browse to `chrome://extensions`
2. Toggle the "Developer mode" switch to enabled
3. Under xBrowserSync in the list of extensions, click on `background.html` where it says "Inspect views"
4. The console tab should be visible in the DevTools window, clear the current entries (Ct

[2020-02-11 21:52] nero120 commented on #133
@ziomik, no of course it doesn't, because Brave have not fixed the issue yet! Also remember that Brave is not officially targetted for support until xBrowserSync v1.6.0...

[2020-02-11 21:57] LundGB commented on #161
Will do tommorow.  However, today I have done a fresh install of Chrome on my desktop computer with no extensions, so no possible conflicts.  A clean test.  Syncing from Firefox to Chrome browser on Windows 10 desktop worked fine.  So it seems to be a platform specific issue, which is the result of either: (a) changes incorporated in version 1.5.1 of Xbrowsersync which inadvertently broke syncing

[2020-02-11 22:05] nero120 commented on #161
Thanks @LundGB. Yes that's what I'm thinking, however I'm *hoping* that it's not a coincidence and that there is a change in v1.5.1 that is causing the issue on the chromebook platform as at least then I can fix it! 🙏

[2020-02-12 08:39] LundGB commented on #161
Console logs:
**Chrome extension list log:**
Empty - no log produced

**Xbrowsersync window console log:**

app.min.js:127 ReferenceError: Connection is not defined
    at Object.isNetworkConnected [as IsNetworkConnected] (app.min.js:1373)
    at app.min.js:1866
    at q (app.min.js:142)
    at checkNetworkIsOnline (app.min.js:1865)
    at Object.checkServiceStatus [as CheckServiceStatus] (app.min

[2020-02-12 09:00] zampanoo commented on #161
Thanks Nero, for looking into the issue. Would love to see the project continue. Logs below.

I do not thinlk that my Chromebook updated before the new xbrowsersync version was installed.

BTW, the syncing arrow spins round both on the large paenl after entering pw & un. And there is another little spinning arrow next to the api.xbrowsersync.

Thanks again, Stefan

First console log: empty

Second

[2020-02-12 09:07] nero120 commented on #161
Thanks @LundGB @zampanoo, I can indeed fix this! Could one of you please run the following commands in the console and paste the output here, it would help me:

[code]

[code]

I'll try to release a fix within a week or two, in the meantime please downgrade to v1.5.0.

[2020-02-12 10:05] LundGB commented on #161
First command output:
No output.  {}
Second command output:
"true"

Commands were run in Xbrowsersync popup.

How do you downgrade to 1.5.0?

[2020-02-12 10:12] nero120 commented on #161
Lovely thanks @LundGB.

To downgrade:

- Download `xbrowsersync_1.5.0_chrome.zip
` from the [v1.5.0 release page](https://github.com/xbrowsersync/app/releases/tag/v1.5.0)
- In Chrome, browse to `chrome://extensions` and ensure Developer mode is enabled.
- Remove the existing xBrowserSync extension.
- Drag the downloaded zip file onto the window so that "Drop to install" appears, then drop the file

[2020-02-12 10:24] zampanoo commented on #161
Hi Rick,

I get the same output as Lund.

Thanks for the downgrade info - was wondering about that, too.

Maybe add the option to use an earlier version inside the extension?

Bye, Stefan

1.
JSON.stringify(window.navigator.connection)
"{}"

2.

JSON.stringify(window.navigator.onLine)"true"

On Wed, 12 Feb 2020 at 09:07, Rich <notifications@github.com> wrote:

[2020-02-12 10:54] LundGB commented on #161
I am happy to test any new version prior to release, if that would be helpful.

[2020-02-12 11:13] nero120 commented on #161
@LundGB thanks I'll take you up on that!

[2020-02-12 18:42] powpowshen commented on #133
I may have encountered the same issue. It happened on my firefox in ubuntu when I bookmark one website slowly. By slowly, I mean I clicked on the star in the URL bar and spent 1 minute to find the right folder for it. The log is also attached.
[xbs_log_20200212133453.txt](https://github.com/xbrowsersync/app/files/4194316/xbs_log_20200212133453.txt)

[2020-02-12 19:21] nero120 commented on #133
@powpowshen thank for this, it looks like a slightly different issue in your case. Do you see the error every time you add a bookmark using the native Add Bookmark button?

[2020-02-13 00:14] Leopere commented on #128
I'm personally heavily reliant on tab syncing and I really want something that doesn't appear to be destined to be premium like Workona.  This feature set has been coming and going forever google had browser-sync like this 10+years ago.

[2020-02-13 03:54] powpowshen commented on #133
@nero120
No, I have been using 3 browsers (1 chrome and 2 firefox) on 2 computers for about 1 week. This is my first time seeing this kind of errors. Do you think I should create another issue instead?

[2020-02-13 13:59] zampanoo commented on #161
I installed vs 1.5.0 as described. Syncing does work but the extension does not seem to stick: after rebooting it's gone.

[2020-02-13 19:09] LundGB commented on #161
Same here as @zampanoo. I installed 1.5.0 which worked yesterday, but it had disappeared by itself this morning! What?

[2020-02-13 19:41] nero120 commented on #161
That's strange, I haven't experienced that on Chrome v80.0.3987.106 (Official Build) (64-bit) on Win10. Did either of you see this alert:

![image](https://user-images.githubusercontent.com/4236238/74471839-d2fccd80-4e98-11ea-893a-0696fc32705f.png)

[2020-02-14 09:30] nero120 commented on #161
@LundGB @zampanoo I've released a beta for Chrome with a possible fix for your issue [here](https://github.com/xbrowsersync/app/releases/tag/v1.5.2-beta). Could you both please give it a try and let me know how it goes?

[2020-02-14 10:29] LundGB commented on #161
I have tried the beta, both with an existing sync and with a new sync.  It failed both times with an error message even though credentials were 100% correct:
"Invalid credentials - Check your sync ID and password, and ensure the active service is where the sync was created"
In the extension, there was an error noted: "Error: [10106] NoDataFound"  There are hundreds of lines in the log created. Let

[2020-02-14 10:31] nero120 commented on #161
@LundGB sorry I should have said, with beta releases I hard code the service to the test service (https://api-test.xbrowsersync.org/). You can't use your existing sync so just create a new one. The test service is cleared down regularly.

[2020-02-14 10:53] LundGB commented on #161
OK. Good news and bad news. The sync worked fine on the Chromebook - it completed very quickly. I then rebooted Chromebook due to the 'disappearing extension' problem.  When I rebooted, extension had vanished. This is apparently a thing.
I have 'Sync Extensions' ticked in my Google account. I don't think I can use my Chromebook without being logged into my evil Google account. I could try reinstal

[2020-02-14 10:56] nero120 commented on #161
@LundGB that's great news, the fixed worked! Don't worry about the disappearing extension as it won't be long before I release the fix and you can go back to using the version from the chrome store. Thanks for your help!

Also just to say, make sure you aren't syncing bookmarks to your Google account (I'm guessing you're not) otherwise you'll get conflicts.

[2020-02-14 23:27] nero120 commented on #133
@powpowshen no I think this is the same issue, leave it with me for now and I'll get a fix sorted as soon as I can.

[2020-02-15 03:30] powpowshen commented on #133
@nero120
Great, thanks.

[2020-02-16 07:12] LundGB commented on #161
OK. Thanks. Just one question, Rich. I thought Xbrowsersync synced every 15 minutes. However, when I am reorganising bookmarks, it seems to sync every few minutes, displaying a message that latest changes may not have synced. Is there anyway to have any control over frequency of syncing or to pause syncing? Perhaps simply disconnecting from the internet while I reorganise bookmarks is the way to g

[2020-02-16 08:11] nero120 commented on #161
@LundGB yes it does indeed sync every 15 minutes, however there is a known issue currently in xBrowserSync for Chrome and Firefox where if you move a bookmark into a sibling folder or certain other folders you can get an issue. There are other issues with moving bookmarks in Firefox as well.

Can you attach a log file containing the error occurs?

[2020-02-16 10:55] LundGB commented on #161
Log file attached.  It is a long log from Firefox.  I think I had an error on the 15th. There may also be errors logged from a few days ago as well.  I tried to produce an error myself today, but couldn't.
You may be able to spot something useful.
[xbs_log_20200216104914.txt](https://github.com/xbrowsersync/app/files/4209655/xbs_log_20200216104914.txt)

[2020-02-16 22:09] zampanoo commented on #161
Rearranging of bookmarks was always buggy for me too. It was impossible to move an item into  a folder above it in **both** hierarchy **and** sidebar position - the hack was to first move it **up** in hierarchy but  into a folder **below** in sidebar position. And from there into the desired position, somewhere above... (Sorry, probably  sounds silly and won't help anybody.)

[2020-02-17 15:47] LundGB commented on #161
@zampanoo By sidebar position, do you mean subfolder position or nested subfolders?  Perhaps you can give an example of what you mean? I have been trying to reproduce the error without success.  It can't be random, so I must occasionally trigger it by certain bookmark moves.

[2020-02-17 22:17] truncsphere commented on #133
Just chiming in that I'm seeing the same issue when adding bookmarks in FF. 3/4 of my bookmarks are no longer there.

[2020-02-17 22:24] nero120 commented on #133
@truncsphere ok I need a log file from the browser where the bookmarks dissappeared, and can you tell me exactly what happened when you noticed they had gone (e.g. you turned on your machine, opened your browser, xbs synced and they were gone?), and let me know the time this happened please.

[2020-02-17 22:45] truncsphere commented on #133
@nero120 Sure I can repeat it easily (just did it again now). In FF add a new bookmark put it in a folder and I can see the sync icon light up. If I open my bookmarks folder I can see them actively all disappear and some of the folders are added back. It syncs for several
 minutes, but it still shows only some of my bookmark folders.
[xbs_log_20200217144353.txt](https://github.com/xbrowsersync/app

[2020-02-18 11:17] nero120 commented on #133
Thanks @truncsphere that helps a lot, I think I see what the issue is. Leave it with me for now.

[2020-02-19 12:07] sviluppoSoftware opened #162 "choose directory where saved new bookmark instead for android mobile app"
**Is your feature request related to a problem?**
A clear and concise description of what the problem is:

E.g. I'm always frustrated when [...]

**Tell us about your idea**
Use screenshots and links to help illustrate if relevant:
android app version 1.5.1, when adding a new bookmark, in android app, it's automatically add into "other bookmarks" directory instead it would useful if we can choose

[2020-02-20 09:40] nero120 commented on #133
@truncsphere I think I have a fix sorted, would you be willing to test it for me? 🙏

I have released a new beta which you can download [here](https://github.com/xbrowsersync/app/releases/tag/v1.5.2-beta). To install, remove your current xBrowserSync version from Firefox then drag the .xpi file onto the `about:addons` page. The beta is locked to the test service (https://api-test.xbrowsersync.org)

[2020-02-20 17:57] truncsphere commented on #133
@nero120
Uninstalled current version and installed 1.5.2-beta1. Created a new sync ID, though I didn't have to restore from a backup as it synced the existing bookmarks.

Add several new bookmarks and everything is working as expected.

Thanks for addressing this quickly!

[2020-02-20 22:34] nero120 commented on #133
Great news, many thanks @truncsphere!

@sky76, as the issue opener could you also please give [1.5.2-beta1](https://github.com/xbrowsersync/app/releases/tag/v1.5.2-beta) a try and see if it resolves the original issue?

[2020-02-21 06:40] ziomik commented on #133
I guess this solution is only for the problem of this post. Not even the Brave browser ..

[2020-02-21 08:57] nero120 commented on #100
Update: Brave have now resolved the [missing other bookmarks](https://github.com/brave/brave-browser/issues/7639) issue, the fix is scheduled to be released in Brave 1.7.x. It is not yet available in the nightly build but once it is I will test it with the current version of xBrowserSync and report back.

[2020-02-21 08:57] nero120 commented on #133
@ziomik this is the **wrong** issue, you need to be following [this](https://github.com/xbrowsersync/app/issues/100) one!

[2020-02-21 15:42] truncsphere commented on #133
@nero120 Do we have an ETA on when the update will be pushed out?
Will I need to create a new sync for all PC's or just manually re-isntall the extension on the PC I installed the test package on?

[2020-02-21 20:43] sky76 commented on #133
Just tested it on FF and it seems to work.

@truncsphere Which action did you exactly try that originally caused that behaviour? Adding a bookmark, then moving it to another folder?

[2020-02-21 23:59] truncsphere commented on #133
@sky76 I detailed my steps in an earlier post. I didn't move them, it was just from adding them when it occurred.

[2020-02-22 23:45] nero120 commented on #133
@truncsphere I've got one more bug to fix so v1.5.2 should be out within the next two weeks. You'll just need to remove the beta and re-install xBrowserSync once it's out. Watch out for your live data being cleared out if you're not accessing it before then...

[2020-02-23 22:07] scudelletti commented on #100
Looks like it's working in Brave Nightly Version 1.7.10. 🎉

[2020-02-24 21:51] nero120 commented on #100
Confirmed, thanks @scudelletti!

[2020-02-28 15:02] vsatmydynipnet opened #163 "Loosing ~50% of Bookmarks + Unable to create a new sync (Firefox 68.5.0/1.5.1.0, API 1.1.11, custom port)"
This problem exists since the API update to 1.1.10 (gone back to 1.1.9 at this time), now updated to 1.1.11 and it still exists. But now going back to 1.1.9 does not help anymore.

- Running on custom port
- Running Firefox ESX 68.5.0
- Running Addon 1.5.1.0

It happens if creating a folder (or bookmark, but can not test anymore). Around 50% of the bookmarks are deleted or not more visible to Fire

[2020-02-28 15:33] nero120 commented on #163
I need a log file or I can't help you.

[2020-02-28 16:17] vsatmydynipnet commented on #163
I found the log export feature. Changed Hostname:

`2020-02-28 15:43:16.411	[trace]	Could not check for updates, no connection
2020-02-28 15:44:30.865	[error]		getBookmarksLastUpdated/</</</<@moz-extension://5c80ed41-9e50-4307-b33a-4b398b5e33fc/js/background.min.js:2314:42 k/<@moz-extension://5c80ed41-9e50-4307-b33a-4b398b5e33fc/js/background.min.js:140:44 $digest@moz-extension://5c80ed41-9e50-430

[2020-02-28 16:18] vsatmydynipnet commented on #163
It says no connection, but in Addon Settings it is green ans says connected + the API Text is correct. So Server side should be fine.

[2020-02-28 23:32] jjtuttle opened #164 "Just notice my main bookmark for work is gone"
Today I noticed that my main bookmark for work is gone on both browsers [Chrome and Firefox] I was using the work one a couple hours ago so not sure how or why I lost it all.

Attaching log file
I mostly have both browsers open all the time and work manly in Chrome. I am using a macbook pro

Chrome: Version 80.0.3987.122 (Official Build) (64-bit)
Firefox: 68.5.0esr (64-bit)

Macbook Pro: macOS Maj

[2020-02-29 00:05] nero120 commented on #164
@jjtuttle thanks for raising this, after checking your log file it appears you were hit with the bug raised in #133. This has been fixed in v1.5.2 which I will aim to release next week.

Really sorry about this, hope you can restore your bookmarks from a backup.

[2020-02-29 00:05] #164 closed

[2020-02-29 11:58] vsatmydynipnet commented on #163
Add: I also have the Android App, where is was very happy that it can tread 1.5.x syncs now too. Looking there it shows that the bookmarks are missing there too. So the FF version must have deleted them really. You already had one time the address of the server to test, this address is still valid.

[2020-03-02 15:00] jjtuttle commented on #133
This lost my bookmarks too. No where to get them back????

[2020-03-02 15:01] jjtuttle commented on #164
This lost my bookmarks too. No where to get them back????

[2020-03-02 18:36] IssacEinstein commented on #152
Deleting a Bookmark in Chrome is not being deleted in Android

[2020-03-02 21:53] graphixillusion commented on #133
Backup, if you have one...

[2020-03-02 22:08] nero120 commented on #133
Yes exactly, I cannot stress to take backups enough!!

xBrowserSync is an open source project and thus will inevitably be subject to bugs that may in the very worst case result in data loss/corruption. Obviously I work hard to try to limit and resolve these issues but users need to take responsibility for their own data, and make sure you take backups. Even if you do it once a month, that's better

[2020-03-02 22:11] nero120 commented on #164
@jjtuttle restore from a backup - you did take backups didn't you (The app advises in multiple places that you need to backup regularly)?

I'm really sorry that you lost your bookmarks, but xBrowserSync is an open source project and thus will inevitably be subject to bugs that may in the very worst case result in data loss/corruption. Obviously I work hard to try to limit and resolve these issues

[2020-03-02 22:14] nero120 commented on #100
FYI all, version 1.7 of Brave (that will include the fix) is scheduled to be publicly released on April 28.

[2020-03-02 22:16] nero120 commented on #163
@vsatmydynipnet I don't have any spare time to look into this at the moment but will pick up as soon as I do.

[2020-03-03 09:56] vsatmydynipnet commented on #163
I have deactivated the addon actually and save / import the bookmarks via owncloud. But I definitely miss xbrowsersync.

Thank you for taking a look at it later.

[2020-03-04 20:55] truncsphere commented on #133
Any update on release? Not being able to sync bookmarks is beginning to be painful. Thanks!

[2020-03-04 22:18] nero120 commented on #133
@truncsphere it's pretty much done, just needs thorough testing. However I'm moving house this week so have no spare time, will hopefully pick up again at some point next week.

[2020-03-05 00:07] bat999 opened #165 "App won't open... net::ERR_FILE_NOT_FOUND (file:///android_asset/www/app.html)"
Hi
I've installed xBrowserSync v1.5.1 from F-Droid.

The app won't open.
When I try to open it I see this message...
**Application Error
net::ERR_FILE_NOT_FOUND (file:///android_asset/www/app.html)**

My phone is Xiaomi Redmi-go
OS is Android-go Oreo v8.1.0

![Screenshot_xBrowserSync](https://user-images.githubusercontent.com/640761/75935159-6ca31380-5e76-11ea-918e-7e971dab0024.jpg)

[2020-03-05 02:21] yashashebbarabailu commented on #165
I am having this issue.

[2020-03-05 07:29] Cupbox opened #166 "Firefox Sync Tags"
Firefox has a native bookmark tagging system. The ability to sync those tags would be appreciated.

[2020-03-06 07:45] SuperSandro2000 commented on #165
Giving the app both permissions just uninstalls it.

[2020-03-06 22:24] nero120 commented on #165
@bat999 if you install the apk from the [v1.5.1 release page](https://github.com/xbrowsersync/app/releases/tag/v1.5.1) do you get the same error?

[2020-03-06 22:28] nero120 commented on #166
@Cupbox check [known issues](https://github.com/xbrowsersync/app/wiki/Known-issues), Mozilla have not implemented an API for native tags so there's no way for xBrowserSync to interact with it until they do.

[2020-03-06 22:28] #166 closed

[2020-03-07 00:52] bat999 commented on #165
No error with the apk from release page.
It opens OK.
:-)

![success](https://user-images.githubusercontent.com/640761/76132990-c4c04e00-600d-11ea-97d3-00c57d64a71d.jpg)

[2020-03-07 06:13] nero120 commented on #165
Many thanks @bat999, looks like an issue with the FDroid build process. I'll raise an issue with them.

[2020-03-11 11:01] sboldt1978 opened #167 "Make Bookmarks accessible via Webpage"
Hi,

I think it would be great if you could also access and search the bookmarks on a webpage. This could be done in two ways:
* The plugin itself provides a local webpage you can locally search and browse the bookmarks
* The server that stores the bookmarks provides a webpage for searching and browsing the bookmarks

With the second option we would immediately be able to use the bookmarks
a) on a

[2020-03-12 11:39] capricorn72 opened #168 "No sync upload possible, only downloads."
When deleting a bookmark entry in the browser, the sync tool reports an error "local data has been refreshed..." and re-syncs the data from the server, but it should upload the deletion to the server.

Same problem on Vivaldi, Firefox and Chromium in Linux.

Tested with a newly created sync: same problem again.

[2020-03-12 11:42] capricorn72 commented on #168
Seems to be the same bug as reported in #134 about four months ago.

[2020-03-12 14:11] packermann76 commented on #163
[xbs_log_20200312130230.txt](https://github.com/xbrowsersync/app/files/4324564/xbs_log_20200312130230.txt)
Not really sure if I hit the very same bug, but lost most of my bookmarks. I'm mainly using Chrome on MacOS, but have the plugin also installed in Firefox and on Chrome and Firefox in a Windows 10 VM. Noticed today that my Bookmarks where "truncated" to the first 5 entries in each folder of m

[2020-03-12 18:07] poikilos opened #169 "Installing beta on Brave results in Missing container: other bookmarks"
**Describe the issue you are experiencing**
Trying to unzip then "Load Unpacked" extension from brave-browser-beta fails with an error: `Missing container: other bookmarks`

**How can the issue be reproduced?**
Steps to reproduce the behavior:
1. Unzip the xBrowserSynch v1.5.2-beta1 chrome extension.
2. Install brave-browser-beta (See <https://brave-browser.readthedocs.io/en/latest/installing-brav

[2020-03-14 16:48] yashashebbarabailu commented on #165
Thanks. Apk from released worked.

[2020-03-14 18:15] LundGB commented on #161
Any news on when a new version will be released which includes a fix for this issue?  Let me know if I can help in any way.

[2020-03-16 10:06] nero120 commented on #161
@LundGB just moved house so things are a bit chaotic at the moment, bear with me!

[2020-03-16 10:08] nero120 commented on #167
Hi @sboldt1978, I'm planning on hosting the app itself on the web, should be available during the v1.6.x minor version range.

[2020-03-16 10:10] nero120 commented on #169
@poikilos see the later posts in #100, you need to be using brave v1.7.x (which is only currently available from the nightly build).

[2020-03-16 10:10] #169 closed

[2020-03-18 20:50] jdevl32 commented on #163
@packermann76 -- The same thing began happening to me within the past week.  I was worried that I had lost my bookmarks for good.  You mentioned Firefox.  If you notice, in the Firefox bookmark manager, under "Import and Backup -> Restore ->", there are auto-backups of the past ~15 revisions to your bookmarks that you can restore from.  I compared the timestamps and number of bookmarks between res

[2020-03-18 21:01] packermann76 commented on #163
@jdevl32 Thx a lot, this indeed recovered my bookmarks! Syncing back seems to work as well, at least for me. I have only around 110 Bookmarks, so this seems not to be the problem. However, would be quite interesting to know, what exactly caused this "truncation" to around 5 entries per folder. Seems to be the same behaviour with you. Maybe something with handling the bookmarks-bar.

[2020-03-18 22:14] jdevl32 opened #170 "Browser crash with large number of bookmarks to up-sync."
**Describe the issue you are experiencing**
A clear and concise description of your issue:

Initially I had noticed that my bookmarks had been reduced from ~1780 down to ~200.  Firefox apparently has a built-in backup of the last ~15 revisions to bookmarks and saves them as restore points.  Checking the timestamps, it appears that the bookmark lossage happened around 3/12.  I was able to restore m

[2020-03-18 22:23] jdevl32 commented on #170
To clarify, the browser needs to be force quit and restarted, and the xbs sync up never succeeds.

[2020-03-19 20:06] JMS11890 commented on #170
I just had the same issue; I did not have that much bookmarks but maybe 100 and I lost maybe 40% of them just today.
I just opened my browser and after some time I noticed that some of them are missing from the bar up top.
cheers guys

[2020-03-23 10:12] peperami97 opened #171 "Issue with Bookmarks disappearing"
**Describe the issue you are experiencing**

Have a problem where all my bookmarks have disappeared after the update today.  I have a backup of my Bookmarks file in chrome.  However when I try to copy the original bookmarks back to chrome it doesnt update.

**How can the issue be reproduced?**

Performing a sync clears my bookmarks

**Desktop browser**

 - OS:  Win10
 - Browser Chrome
 - Version V

[2020-03-25 16:14] nero120 commented on #163
@jdevl32 that's an awesome tip re Firefox restore, I didn't know about that!

Really sorry about this annoying bug guys, I have a fix for it but with everything happening at the moment I haven't had much time to work on xbs, I'm back on it now so hoping to have a new release out within a week or so. Bear with me.

[2020-03-25 16:16] nero120 commented on #171
@peperami97 sorry about this, the issue with bookmarks being deleted is a known issue in v1.5.1. I have a fix for it but with everything happening at the moment I haven't had much time to work on xbs, I'm back on it now so hoping to have a new release out within a week or so. Bear with me.

[2020-03-25 16:21] nero120 commented on #170
@JMS11890 are you using Firefox at all? If so you can recover your recent bookmarks using the info [here](https://github.com/xbrowsersync/app/issues/163#issuecomment-600851798).

[2020-03-25 16:23] nero120 commented on #168
@capricorn72 if you get the "local data has been refreshed..."message then it means there was an issue or conflict with the change and it has not been committed, so you'll need to re-do the change.

[2020-03-25 16:23] #168 closed

[2020-03-25 16:56] capricorn72 commented on #168
I have re-done the change very multiple times. Always the same.

No good idea to simply close this ticket. The problem is not solved with this.answer.

25.03.2020 17:23:57 Rich <notifications@github.com>:

[2020-03-25 19:37] JMS11890 commented on #170
Thanks Rich: I recovered everything from a second pc by disconnecting network cable before switching it on and exporting them but good suggestion yours as well.

[2020-03-28 09:19] pheidrias opened #172 "Folders for Tags"
Hello!

It would be awesome, if you could include folders for Tags (not for bookmarks!), like it has been implemented here: https://github.com/dimonomid/geekmarks

This could be based simply on clever string-autocompletion and the usage of "/", so it wouldn't break underlying sync mechanisms...

This could really help to organize my tags!

Thanks and stay healthy!

[2020-03-31 18:58] ElTopo opened #173 "Chrome/Edge Extension pop-up window does not adjust accordingly when zoom level is not 100%"
**Describe the issue you are experiencing**
Chrome/Edge Extension's pop up window does not adjust accordingly with browser's zoom level other than 100%, user has to scroll right to see some icons (bookmark, settings)

**How can the issue be reproduced?**
Steps to reproduce the behavior for Microsoft Edge (chromium):
1. Go to menu "Settings" / "Appearance"
2. Adjust "Zoom" level to 100% or 150%
3.

[2020-04-03 07:05] pstein opened #174 "Questions about own xBrowserSync server"
As I read users need not use the publicly available xBrowserSync servers but can setup and use their own xBrowserSync servers in local LAN.

Some questions about that:

Users are  directed to the following page for the corresponding server:

https://github.com/xbrowsersync/api/releases

I found only source files. Is there no pre-compiled server binary package (for Windows)?

The label of this proj

[2020-04-05 15:32] xinminglai opened #175 "android version doesn't support choose of user's own service providers."
**Describe the issue you are experiencing**

On android app, when I try to change the service to my own servers, I got error in red text, which is "Unable to connect to the service", I'm sure the server works for desktop browsers in both firefox and chrome. And only when I try to use that server address in android, I got the error. But it works when I try to connect to other service provided on th

[2020-04-05 15:38] nero120 commented on #175
@xinminglai you're using a local IP range (192.168...) which is why it works locally when your connect using the desktop xBrowserSync extension. To connect via your Android device you need to use the public IP address of the machine it's running and ensure that any incoming public requests are routed correctly.

[2020-04-05 15:44] #175 closed

[2020-04-06 09:02] xinminglai commented on #175
Hi, @nero120
I also tried to use ssh-tunnel to create reverse port map to map the server to the public ip,
Still can't connect to that public ip with right port. And I open the url in browser, It works fine.

[2020-04-06 10:03] nero120 commented on #175
Can you post the public address of the service please so I can check it?

[2020-04-07 11:52] nero120 commented on #173
@ElTopo after doing some testing on this issue, unfortunately there's nothing I can do to avoid scroll bars when you use browser zoom. There is no functionality I can use to properly detect or adjust layouts for browser zoom that will avoid scroll bars completely. Whilst I am making some changes to use more relative units when setting layout dimensions which will help in some cases, it won't resol

[2020-04-07 11:52] #173 closed

[2020-04-09 01:43] zeroarst opened #176 "Getting notification from Chrome"
**Describe the issue you are experiencing**
I see the notification keeps popping up from Chrome in Windows 10.
And after it shows, it re-syncs all my bookmarks.
And the process repeats forever.
I also use this extension on my Firefox which works OK.
I also tried to disable Bookmarks sync in Chrome settings but no luck.

**How can the issue be reproduced?**
Steps to reproduce the behavior:
Install

[2020-04-09 01:54] zeroarst commented on #176
It looks ok now...I tried to disable this extension, disabled Chrome Bookmarks sync. then turn this extension back on...and now no more notifications...
I will leave it for now to see.

[2020-04-09 13:42] nero120 commented on #171
This issue is resolved by 024e32ea622aa2ff3a938538ce2378cb0af511a2.

[2020-04-09 13:42] #171 closed

[2020-04-09 20:01] cjnaz commented on #163
Not sure if this is the same problem (I'll post a new issue if you prefer).  I've been on App v1.5.1 for some months on 3 machines plus a phone with no issues.  Yesterday I opened Chrome for this first time on one of those machines (Window 10 notebook, where I usually use Firefox) and it said that it was updating the app to V1.5.1.  It had a sync error message for a bit, then proceeded to sync.  A

[2020-04-09 23:07] #161 closed

[2020-04-09 23:07] #45 closed

[2020-04-09 23:07] #133 closed

[2020-04-09 23:24] nero120 commented on #163
@cjnaz I've literally just released [v1.5.2](https://github.com/xbrowsersync/app/releases/tag/v1.5.2) which resolves this bug where bookmarks are being lost. Everyone please update to [v1.5.2](https://github.com/xbrowsersync/app/releases/tag/v1.5.2), if you experience further issues please create a new issue as this one has become a bit of a dogs dinner so I'm going to close it.

[2020-04-09 23:24] #163 closed

[2020-04-09 23:25] nero120 commented on #176
@zeroarst please update to the latest version ([v1.5.2](https://github.com/xbrowsersync/app/releases/tag/v1.5.2)) and report back!

[2020-04-09 23:31] nero120 commented on #170
@jdevl32 can you please update to the latest version ([v1.5.2](https://github.com/xbrowsersync/app/releases/tag/v1.5.2)). I've added better handling for large number of changes, however ultimately the browser itself is the limiting factor so attempting to make thousands of changes at once is probably asking far too much of Firefox! I've noticed Chromium code is far better and will handle many chan

[2020-04-09 23:34] nero120 commented on #173
[v1.5.2](https://github.com/xbrowsersync/app/releases/tag/v1.5.2) has now been released that includes a partial fix for this issue.

[2020-04-09 23:34] nero120 commented on #171
[v1.5.2](https://github.com/xbrowsersync/app/releases/tag/v1.5.2) has now been released that includes a fix for this issue.

[2020-04-09 23:34] nero120 commented on #164
[v1.5.2](https://github.com/xbrowsersync/app/releases/tag/v1.5.2) has now been released that includes a fix for this issue.

[2020-04-09 23:36] nero120 commented on #161
[v1.5.2](https://github.com/xbrowsersync/app/releases/tag/v1.5.2) has now (finally) been released that includes a fix for this issue. Sorry about the wait guys!

[2020-04-09 23:39] nero120 commented on #152
@cburkins [v1.5.2](https://github.com/xbrowsersync/app/releases/tag/v1.5.2) has now been released, can you please give it a try and report back if you're still experiencing the issue?

[2020-04-09 23:41] nero120 commented on #117
Closing this as no further I can take it really, I can't reproduce the original issue.

[2020-04-09 23:41] #117 closed

[2020-04-09 23:41] cburkins commented on #152
Thanks, will do so.  I will admit, so far, it very much feels like I'm
losing bookmarks, but that's anecdotal, as I can't provide specifics about
something that is missing :)

-Chad

On Thu, Apr 9, 2020 at 7:39 PM Rich <notifications@github.com> wrote:

[2020-04-09 23:43] nero120 commented on #152
@cburkins one way you can observe this is to take a backup in xbrowsersync each day (Settings > Back up). You can then use a [diff checker](https://www.diffchecker.com/) to compare the backup files and see if bookmarks are indeed being lost.

[2020-04-09 23:45] cburkins commented on #152
Been hunting for an idea in this space, thanks !!

[2020-04-10 08:38] vsatmydynipnet opened #177 "1.5.2 - Works great on FF + Andorid"
In times like this there a short break to say thank you  for the 1.5.2 update must be allowed even this is an issue tracker.

Installed on LInux/FF + LineageOS 16/ Android 9. Looks great  again, also non standard port works fine.

Thank you very much and stay healthy!

[2020-04-10 11:19] sviluppoSoftware opened #178 "when opening the app show folder list instead of "add bookmark" dialog"
**Is your feature request related to a problem?**
A clear and concise description of what the problem is:

Is your feature request related to a problem? no

**Tell us about your idea**
Use screenshots and links to help illustrate if relevant:

when opening the app, show folder list instead of "add bookmark" dialog, the reason is to make bookmark access faster, it would also be even more efficient

[2020-04-10 16:39] ElTopo commented on #173
@nero120 I updated to v1.5.2 today and this issue seems fixed and I am satisfied, thanks.

[2020-04-11 15:27] overtomanu opened #179 "Problem syncing particular types of bookmarked URL"
**Describe the issue you are experiencing**
A clear and concise description of your issue:

**How can the issue be reproduced?**
Steps to reproduce the behavior:
bookmark "chrome://settings" in chrome browser
also bookmark url like this one

` data:text/html;charset=utf-8, <body> <pre>Excel pivot table tips%0D%0A1) Values can be confiured as row or columns. Just drag the "%CE%A3 Values" from colum

[2020-04-11 21:31] nero120 commented on #173
Great stuff @ElTopo, glad to hear it!

[2020-04-11 21:33] nero120 commented on #178
@sviluppoSoftware I'll aim to add a preference in the next version that will allow you to default to folder view as it's not much effort. Selecting a specific folder to open by default is more complex and will need to wait until other high priority features have been implemented.

[2020-04-11 21:36] nero120 commented on #177
@vsatmydynipnet thank you for this, consider the cockles of my heart warmed! Glad it's all working well for you now. If nothing else, lockdown has given me a chance to get lots of xBrowserSync work done! Stay safe! 😷

[2020-04-11 21:37] #177 closed

[2020-04-14 17:19] rodrigoswz commented on #100
Fixed on today's update: "Version 1.7.92 Chromium: 80.0.3987.163 (Official Build) (64-bit)"

[2020-04-14 21:07] bhurler1 commented on #100
Awesome. Thanks for the update! I have been keeping tabs on this release waiting to do some testing :)

[2020-04-15 20:11] nero120 commented on #100
@rodrigoswz confirmed, thanks for the heads up!

[2020-04-23 02:27] rodrigoswz commented on #126
Sorry to discuss this issue closed, I would like to inform that Kiwi so far is the only browser that supports Chrome extensions on mobile. [Btw it's recently fully open source](https://www.xda-developers.com/kiwi-browser-open-source/).

[Until version 1.4.0 of xBrowserSync this worked perfectly](https://i.imgur.com/ioCcIn1.jpg), in the [new updates (1.5.x) this stopped working](https://i.imgur.com

[2020-04-24 07:18] nero120 commented on #126
@rodrigoswz I'm currently working on an [API](https://github.com/xbrowsersync/api) release, once that's done and I start work on the next app release I will try to see why xBrowserSync stopped working in Kiwi and fix the issue for the next release.

[2020-04-25 06:47] Rob4226 commented on #100
Great news! I can finally upgrade from Brave v1.1.23 👍  I've been using that outdated version for months lol

[2020-04-25 11:00] josealberto4444 commented on #165
@nero120 Any news on this? Do you have a link of the issue you opened with them to follow the progress? The f-droid app was updated a week ago but the problem is still there. Thanks for all your effort!

[2020-04-25 12:20] nero120 commented on #165
@josealberto4444 unfortunately still trying to fix the build issues with the guy who looks after F-Droid, you can follow the conversation [here](https://gitlab.com/fdroid/rfp/-/issues/789).

[2020-04-27 03:08] fbsd44 opened #180 "Can't sync - Connection to service lost"
**Describe the issue you are experiencing**
Synced first computer to service. When I attempt to connect second computer, I get an error that the connection to the service is lost. The logs the notwork is offline, but the network is fine. (the first computer is using the same network)

**How can the issue be reproduced?**
Steps to reproduce the behavior:
1. Click on XBrowserSync icon
2. Enter sync

[2020-04-27 15:15] Manu99it opened #181 "Could be improved android chrome support"
Actually the android app is "ok". But what on supporting chrome on mobile? I know chrome doesn't supports extensions, but that could be circumvented by using root and edit bookmarks file at /data/data/com.android.chrome/app_chrome/default/bookmarks

Would be great!

[2020-04-28 11:49] coreyfarrell opened #182 "Android dark theme"
**Is your feature request related to a problem?**
Nearly all apps on my phone are now operating in dark mode, it would be really nice if xBrowserSync could do the same.

**Tell us about your idea**
I'm not a designer so my best idea is just gray scale color scheme with all dark backgrounds.  It would be nice if xBrowserSync respected the global dark mode option but even being able to manually set

[2020-04-29 04:40] kkuhle opened #183 "Alternate search view quirks"
Steps to reproduce the behavior:

1. Go to Settings and turn on "Alternate search view"
2. Click "Find a bookmark"

## two observations:

- The text box will be halfway covered by Gboard
- results are not visible until closing the keyboard

## device info:

 - Device: OnePlus 6t
 - OS: Android 10 Havoc OS

Xbookmarks gboard hiding search box: https://imgur.com/gallery/DwGuD8j

keyboard showing: ht

[2020-04-29 09:38] nero120 commented on #182
Good idea @coreyfarrell, I'll see what I can do.

[2020-04-29 09:42] nero120 commented on #180
@fbsd44 since I don't have easy access to a freebsd box I need more info to figure out what's going on here, can you do the following please:

1. Browse to `chrome://extensions`
2. Toggle the "Developer mode" switch to enabled
3. Under xBrowserSync in the list of extensions, click on `background.html` where it says "Inspect views"
4. The console tab should be visible in the DevTools window, clear

[2020-04-29 14:28] nero120 commented on #170
Going to close this due to lack of activity, however feel free to respond if needed.

[2020-04-29 14:28] #170 closed

[2020-04-29 14:29] nero120 commented on #181
I appreciate the thought but mobile browsers are not something I'm planning on supporting at this time, perhaps at some point in the future.

[2020-04-29 14:29] #181 closed

[2020-04-29 14:30] nero120 commented on #152
@cburkins any updates on v1.5.2 so far, are you still losing bookmarks?

[2020-04-29 14:35] IssacEinstein commented on #152
hi., I'm worried about my bookmarks and stopped using that.
________________________________
From: Rich <notifications@github.com>
Sent: Wednesday, April 29, 2020 20:01
To: xbrowsersync/app
Cc: Issac Einstein; Comment
Subject: Re: [xbrowsersync/app] Slow deletion of bookmarks (#152)

@cburkins<https://github.com/cburkins> any updates on v1.5.2 so far, are you still losing bookmarks?

—
You are rec

[2020-04-29 14:40] nero120 commented on #152
@IssacEinstein since v1.5.2 I am confident that these "deletion" issues have been all but resolved, I certainly have not had any further reports of deleted bookmarks since it's release. If you take a regular backup for a few weeks, just in case, after using xBrowserSync I'm sure you will see that your bookmarks are not being deleted any more.

[2020-04-29 18:29] cburkins commented on #152
Thanks for the tip on the built-in bookmark backup to JSON, have been
methodically checking for deleted bookmarks, and looks like we're good to
go, thanks for the hard work !

On Wed, Apr 29, 2020 at 10:31 AM Rich <notifications@github.com> wrote:

[2020-04-29 18:32] IssacEinstein commented on #152
And what i would suggest is to have a manual or automated backup process when ever u make changes to the bookmarks.
________________________________
From: Rich <notifications@github.com>
Sent: Wednesday, April 29, 2020 20:10
To: xbrowsersync/app
Cc: Issac Einstein; Mention
Subject: Re: [xbrowsersync/app] Slow deletion of bookmarks (#152)

@IssacEinstein<https://github.com/IssacEinstein> since v1.5

[2020-04-29 22:54] nero120 commented on #152
@cburkins that's fantastic news! Many thanks for checking and confirming this, I'll go ahead and close the issue.

@IssacEinstein that is probably overkill, however there is an existing feature request for [automatic backups](https://github.com/xbrowsersync/app/issues/15) that would provide enough resilience in case data corruption/deletion occurs again - I'll try and roll this into an upcoming re

[2020-04-29 22:54] #152 closed

[2020-04-29 22:55] nero120 commented on #134
@gregersn are you still seeing this with v1.5.2?

[2020-04-29 23:02] nero120 commented on #183
@kkuhle I'm using gboard on Android 10 and not seeing this:

![image](https://user-images.githubusercontent.com/4236238/80655167-e1a95880-8a75-11ea-9081-f3cbbb3083fe.png)

Can you post screenshots?

[2020-04-30 03:13] fbsd44 commented on #180
There was no console output when I clicked on background.html and attempted to sync.
When I inspected the extension window, I got this:
DevTools failed to load SourceMap: Could not load content for chrome-extension://lcbjdhceifofjlpecfpeimnnphbcjgnc/js/purify.min.js.map: HTTP error: status code 404, net::ERR_UNKNOWN_URL_SCHEME
app.min.js:1494 API request failed: network offline
logToConsole @ app.

[2020-04-30 14:40] kkuhle commented on #183
Sorry for the delay.  I've added screenshots to the OP.

[2020-04-30 16:47] cburkins commented on #152
@nero120 Given that this is a free service, I don't have expectations of automatic backups.   you've got a unique capability setup here, and I'm grateful for it.    The manual backups that you already provide work just dandy for me.

[2020-04-30 20:22] clemthi commented on #6
Just tested on version 3.0 : it's somehow working.
Apart from the bug raised in #159 , the main issue is that only the toolbar bookmarks are included within Vivaldi.

[2020-05-03 11:43] garret opened #184 "(Brave browser) All saved favicons always disappear in one of the two devices after syncing"
(Brave browser) All saved favicons disappear in one of the two devices after syncing

I am using the extension in two different laptops with Windows 10 and latest version of Brave (Version 1.8.86 Chromium: 81.0.4044.129).

Syncing works flawlessly though, when I add a new bookmark in laptop 1, I notice it syncs with laptop 2 but this last one loses all the saved favicons in the bookmarks' toolbar.

[2020-05-03 11:59] nero120 commented on #184
HI @garret, yes I'm aware of this and sadly there's no fix as such, as it's not really a bug. When xBrowserSync updates the local bookmarks it first has to clear the existing bookmarks (removing the favicons in the process), then it repopulates the local bookmarks from synced data. In order to then set the favicon for the bookmark you have to actually visit it again, it's not possible to do this v

[2020-05-03 11:59] #184 closed

[2020-05-03 12:16] garret commented on #184
Couldn't be at least added as a "feature request"?

[2020-05-03 14:42] nero120 commented on #184
@garret it's already on my backlog, no need to include it as a feature request.

[2020-05-04 15:49] tam481 opened #185 "Opera Browser - Sync not working"
**Describe the issue you are experiencing**
Unable to sync bookmarks in Opera version 68.0.3618.63. It works fine in Firefox, Chrome and Edge

**How can the issue be reproduced?**
Steps to reproduce the behavior:
Start syncing and it fails sighting an error

**Desktop browser**
 - OS: Win10
 - Browser: Opera
 - Version:  v1.5.2

**Application log**
Please include the logs from the affected clients

[2020-05-04 16:54] nero120 commented on #185
@tam481 only Chrome and Firefox are supported at this time. There is already a [feature request](https://github.com/xbrowsersync/app/issues/11) for Opera support, upvote it if you'd like to see it implemented.

[2020-05-04 16:54] #185 closed

[2020-05-05 09:10] tam481 commented on #11
+1 for Opera support. Thank you

[2020-05-05 13:47] berlincount opened #186 "Feature Request: Support Basic Authentication in front of server"
**Is your feature request related to a problem?**

When running the xBrowserSync API behind a Reverse Proxy requiring Basic Authentication, Synchronization fails unless a separate Tab was / has logged in to the xBrowserSync API site before - Header Modification Extensions don't help. If this was not done, the local sync is logged out, requiring a full overwrite of local Bookmarks on next sync.

**

[2020-05-05 14:45] locria opened #187 "Consuming excessive system resources during bookmark import"
**Describe the issue you are experiencing**

There seems to be a issue when the extension is installed, synced, and a bookmark import from an html file is initiated through the browser. The issue is the synchronization process, over the span of a couple of minutes, would heavily load my processor(I'm running a Ryzen 5 2600), eat up all of my system memory(16 GB), go into swap(8 GB), and eventually

[2020-05-05 15:04] nero120 commented on #165
The issues have now been resolved, F-Droid will have a working updated package shortly.

[2020-05-05 18:26] nero120 commented on #187
@locria importing bookmarks via an html will trigger the bookmark API events for each bookmark contained in the html file, so it's like adding 1500 bookmarks simultaneously and expecting xBrowserSync to sync all of those changes - that's what's nerfing your resources.

Instead, disable your current sync then import the html file. Then you can create a new sync which will include all of your newly

[2020-05-05 18:26] #187 closed

[2020-05-06 06:50] gregersn commented on #134
I deleted a bunch of bookmarks just now (a few hundred), and it has been trying to sync that for over ten minutes, showing over 100 on CPU usages in the browser task manager.

[2020-05-06 06:59] crssi opened #189 "Update 1.5.2.1 and AMO"
The extension version 1.5.2 installed from AMO, is reporting newer version 1.5.2.1.
Version 1.5.2.1 is not (yet) available on AMO.

Cheers

[2020-05-06 07:21] nero120 commented on #189
@crssi what is AMO?

[2020-05-06 07:24] crssi commented on #189
Sorry... AMO = Addon Mozilla page... see https://wiki.mozilla.org/index.php?title=AMO

Cheers 😄

[2020-05-06 07:25] nero120 commented on #189
@crssi where is the reference to 1.5.2.1?

[2020-05-06 07:35] nero120 commented on #189
@crssi ah I see, the update notification is reporting a new version available. Ignore it, I had to release a new version to fix Android F-Droid build issues. That release is not for other platforms.

[2020-05-06 07:35] #189 closed

[2020-05-06 07:36] nero120 commented on #134
@gregersn then you'll need to provide all the information required by the [issue template](https://github.com/xbrowsersync/app/issues/new?assignees=&labels=&template=bug_report.md&title=) otherwise I cant help you.

[2020-05-06 07:50] crssi commented on #189
Sorry... next time I will try to be more thorough and specific.
I am ignoring it, just wanted you to know about a "problem", which is really not critical.

Cheers

[2020-05-06 07:51] nero120 commented on #189
@crssi much appreciated!

[2020-05-06 07:52] crssi commented on #189
Thank you for the project.

[2020-05-06 08:57] gregersn commented on #134
Seems like it just took a really long time to sync. So looks to be better now.
Closing this.

[2020-05-06 08:57] #134 closed

[2020-05-06 10:59] awbushnell commented on #31
@nero120 I am curious to the status of support for Microsoft Edge Chromium? I have the latest and cannot locate where to install this extension?

[2020-05-07 15:17] tmatijevich opened #190 "Unexpected bookmarks structure during initial setup"
**Describe the issue you are experiencing**
Initial sync results in "Unexpected bookmarks structure".
The log says I'm missing container other bookmarks, The other bookmarks folder is present, but empty. Certainly not missing.

**How can the issue be reproduced?**
Steps to reproduce the behavior:
1. Add xBrowserSync extension from the Chrome Web Store
2. Gives permissions
3. Follow guide
4. Enter

[2020-05-08 01:11] cedlce commented on #31
You can try using the Chrome extension in Edge Chromium. I ignore if there are any plans to take the extension to the Microsoft Edge extension repository.

[2020-05-08 10:32] awbushnell commented on #31
@cedlce Thank you, that worked!!! (New to chromium edge and did not see the "enable extensions from other stores etc..)

[2020-05-08 13:59] vsatmydynipnet opened #191 "FF 68.8.0 ESR 64 Bit / Debian Login Problem worked before update"
Hi! I am sorry to bother you agein. After updating Firefox to 68.8.0 ESR 64 Bit on Debian I have a credential problem. API runs, the Androis 1.5.2 version connects as before.
Invalid credentials

Check that your sync ID, password and service URL have been entered correctly.

[2020-05-08 15:37] nero120 commented on #191
@vsatmydynipnet can you provide logs please?

[2020-05-08 15:46] nero120 commented on #190
@tmatijevich I need more info to figure out what's going on here, can you do the following please:

- Browse to chrome://extensions
- Toggle the "Developer mode" switch to enabled
- Under xBrowserSync in the list of extensions, click on background.html where it says "Inspect views"
- The console tab should be visible in the DevTools window, paste the following code and copy the results here:

[cod

[2020-05-08 16:22] vsatmydynipnet commented on #191
changed domain and port.

[code]

[2020-05-08 16:24] tmatijevich commented on #190
Not a problem,

[code]

[2020-05-08 16:30] nero120 commented on #190
@tmatijevich there's the problem, the `id` of other bookmarks is `616` when it should be `2`. I've seen this happen now and again, I'm pretty sure it's a bug in chromium.

The way to fix it is to either edit the `bookmarks` file in your profile directory and change the id manually or to create a new profile.

[2020-05-08 16:47] tmatijevich commented on #190
My bookmarks bar begins with a folder "Google" (ID #2)

[code]

The first bookmark in the first folder has ID #3.

[code]

So does every ID have to be re-ordered?

[2020-05-08 17:11] cedlce commented on #31
No worries! Glad to help 😃

[2020-05-08 17:38] nero120 commented on #190
@tmatijevich hmm yes that's true. It's probably easier to create a temporary profile and use xBrowserSync to sync your bookmarks into that profile, then copy the contents of the `bookmarks` file back to your original profile.

[2020-05-08 17:57] nero120 commented on #31
Once Edge support is implemented I will submit xBrowserSync to the Edge Extensions store.

[2020-05-08 17:58] nero120 commented on #31
Edge is not currently supported but does seem to work for the most part, just be aware you could experience issues so make sure you back up regularly just to be on the safe side.

[2020-05-08 18:53] tmatijevich commented on #190
Excellent, now it is working.
Copy+paste bookmarks bar from original profile to new profile does the trick:
[code]

I have been manually backing up `Chrome\User Data\Default\Bookmarks` on multiple computers and using git to merge them together. After a merge, Chrome likes to re-ID all the bookmarks which resulted in the "other bookmarks" being something other than ID `#2`.

`xBrowserSync` will be

[2020-05-08 19:00] nero120 commented on #180
Well that's the issue, the browser is reporting that no network is connected (`window.navigator.onLine = false`). From [MDN Web Docs](https://developer.mozilla.org/en-US/docs/Web/API/NavigatorOnLine/onLine):

I know it's a stupid question, but you are connected to the internet aren't you? If so then this is something particular to the freebsd build of chromium, and sadly nothing I can do to affect

[2020-05-08 19:00] #180 closed

[2020-05-08 19:01] nero120 commented on #6
Interesting, thanks for the info @clemthi.

[2020-05-08 19:03] nero120 commented on #190
Glad it's sorted @tmatijevich! 😄

[2020-05-08 19:03] #190 closed

[2020-05-08 19:14] nero120 commented on #191
@vsatmydynipnet so the xBrowserSync Android app connects fine but Firefox cannot decrypt? Can you try disabling the sync on Firefox and re-syncing?

Also if that fails can you please try creating a new sync on Firefox and then importing a backup of your original sync and see if it works then?

[2020-05-09 07:40] vsatmydynipnet commented on #191
@nero120 i already tried disable/enable, which was not working.also fully rebootet the virtual machine holding the 1.1.11 api. creating a new sync does not work either.

[code]

added xbrowsersync to an lineageos tablet, which is same as my mobile. fresh install there was able to immediately sync.

and PLEASE, reenable adding sync server/login data manually without scan again :-) needed to remove

[2020-05-09 08:39] nero120 commented on #191
@vsatmydynipnet can you try creating a new sync with the official service `https://api.xbrowsersync.org` just to rule out your custom service?

If that still fails, then could you please downgrade Firefox back to your previous version and see if sync works then? If the distro team that builds Firefox have changed something in the web.crypto implementation then that's an issue...

[2020-05-09 11:50] vsatmydynipnet commented on #191
I tried on your server, result is the same. Can not downgrade on my Sid boxes in production environment, but used a Debian Buster test system which still had 68.7.0 on it. Fresh install of xbrowsersync 1.5.2 with the sync whch is still working with androd.

# On Mozilla Addons it is shown:

This add-on requires a newer version of Firefox (at least version 69.0). You are using Firefox 68.0.

But ES

[2020-05-10 11:46] nero120 commented on #191
@vsatmydynipnet intersting info, thanks for this. I can only guess that the Debian team have somehow changed the way [`web.crypto`](https://developer.mozilla.org/en-US/docs/Web/API/Web_Crypto_API) works in Sid. These are [W3C standards](https://www.w3.org/TR/WebCryptoAPI/), so there's not really much I can do from here. Hopefully they will resolve this before Sid moves to Buster?

I'm going to clo

[2020-05-10 11:46] #191 closed

[2020-05-11 07:13] vsatmydynipnet commented on #191
To comlete tests I downloaded Firefox-ESR from Mozilla and it works in Sid too, so definitely something with the package. Thank you!

[2020-05-11 15:55] xDonatello opened #192 "Constant request to update, although it is already updated"
The latest version available for the Google Chrome extension is 1.5.2
However, having released 1.5.2.1 (only the Source Code), every time I open Google Chrome it warns me that a new version is available. In fact, if I click, nothing happens.
The same thing happens on Firefox, Edge and on the Android app.
This thing is very annoying. Thanks for your time.

![image](https://user-images.githubusercon

[2020-05-11 22:11] nero120 commented on #165
I'm reopening this since F-Droid build issues are preventing a working package from being built. It looks like the issues are environmental on the F-Droid side, so fingers crossed the F-Droid maintainer can get them resolved...

[2020-05-11 22:14] nero120 commented on #192
@xDonatello I am aware of this and realise it's annoying. It's due to the ongoing efforts to resolve the issues with [F-Droid](https://github.com/xbrowsersync/app/issues/165).

Since they build the app from source by taking the latest release source code from GitHub, to build with necessary android fixes they needed a new release which is the reason why everyone is getting an alert for a new versi

[2020-05-12 14:16] abudden opened #193 "Revert to older version of bookmarks"
**Is your feature request related to a problem?**

I'm always frustrated when something goes wrong in the sync (usually because I'm running xbrowsersync in Vivaldi and have changed a bookmark there, which I know isn't supported) and half my bookmarks disappear off all my computers.

**Tell us about your idea**

It would be really useful if xbrowsersync would store a history of bookmarks and allow

[2020-05-12 21:32] nero120 commented on #176
No recent response so closing this.

[2020-05-12 21:32] #176 closed

[2020-05-12 21:37] nero120 commented on #186
@berlincount I missed the fact that there is already a feature request that covers this (#29), so I'm going to close this issue.

[2020-05-12 21:37] #186 closed

[2020-05-15 10:52] berlincount commented on #29
Please note that #186 was covering the same issue for the (Chrome) Browser extension.

[2020-05-15 10:53] berlincount commented on #186
Please note that #29 is covering the same issue for the (Android) mobile version.

[2020-05-15 15:08] rlegrand opened #194 "merge bookmarks instead of replace them"
**Is your feature request related to a problem?**
A clear and concise description of what the problem is:

When I want to synchronize from a new device/browser, xBrowserSync ask me if I'm agree to replace all my bookmarks, and I don't.

**Tell us about your idea**
Use screenshots and links to help illustrate if relevant:

Im my point of view, it would be better to merge local bookmarks with the xb

[2020-05-15 15:28] nero120 commented on #194
Agree @rlegrand, however this is a very complex change so will have to wait until all the main v1 features have been implemented.

[2020-05-15 16:09] nero120 commented on #192
I've deleted the release that was causing the issue.

[2020-05-15 16:09] #192 closed

[2020-05-15 23:45] danorul9 opened #195 "Local HTML file that can be rendered as a homepage for any browser on Android"
Would you be able to add a local .html file android once the sync is setup?

This that case I can point my home page on any browser to access this file.  I would appreciate 2 main features on this page adjust font size and search.

[2020-05-22 13:47] nero120 commented on #183
@kkuhle I can't replicate this at all. To check if it's the device or something with gboard, could you please try installing the swiftkey keyboard and see if that resolves the issue?

[2020-05-24 11:55] graphixillusion commented on #14
@nero120
with this approach it will be difficult to search some type of bookmarks, the github's ones for example. Many github projects follows this schema for the address: **github.com/username/project**. The problem is that it's easier to remember the project name rather than the user one. In this particular example, if i start to search using the word "**project**", the search recognizes indeed

[2020-05-24 14:30] nero120 commented on #14
@graphixillusion I hear what you're saying, I also have many github project pages bookmarked. However, the current functionality makes sense what you consider that you are actually searching for a partial url fragment (project), which is only really useful in limited circumstances, such with github urls.

Searching for partial url fragments leads to many non-relevant search results and the key to

[2020-05-25 08:48] pstein opened #196 "xBrowsersync server space calculation and combination?"
I am interested to sync two (or three) Firefox installations over an xbrowsersync service.

As I read on Home Page all sync servers have a size limit ranging from 1MB up to 12MB.

Since I have a huge bookmark dir tree of approx 7000 bookmarks and (sub)folders this could be critical.
I have no idea how to calculate the necessary size in MB for me.

Are the bookmarks compressed before syncing?
That

[2020-05-26 17:12] atwar1 opened #197 "Back camera is not available - Xperia Tablet Z"
Mobile app doesnt work with camera on my Xperia device when I try to scan QRcode.
Camera working properly, I granted rights, but app claim that "Scan failed, Check permission has been granted and try again."
Xperia Tablet Z
LineageOS 15.1

Log:
2020-05-26 16:27:47.846	[trace]	Starting up
2020-05-26 16:27:48.015	[trace]	{"appVersion":"1.5.2","checkForAppUpdates":true,"displayHelp":false,"platform":

[2020-05-26 18:11] mtrtm opened #198 "Firefox sync to existing account does not work"
Description: Installed xbrowsersync in chrome desktop running Windows 10, then on android device, then on Brave on desktop - everything works as expected.
Installed firefox, installed privacy badger, installed xbrowsersync in firefox desktop.  Entered same sync id and password that already worked.  I get repeated/forever messages of
"If the problem persists please report the issue"

If I close Fir

[2020-05-30 08:54] serovar commented on #13
Any update on this?

[2020-05-31 23:56] nero120 commented on #13
@serovar not yet, currently working towards v1.6.0 which will deliver more browser support and internationalisation. History sync will come after that (see the [roadmap](https://github.com/xbrowsersync/app/wiki/Roadmap)).

[2020-06-03 15:27] olavinto opened #199 "Restoring a Firefox bookmark backup causes high memory usage"
**Describe the issue you are experiencing**
Restoring a Firefox bookmark backup causes very high memory usage (when xBrowserSync extension is disabled there are no problems). In my case the memory usage climbed to over 9,5 gb. For low memory systems this could be a problem (I have 32 gb so not a huge problem).

I'm also aware that the FAQ has this: "Can xBrowserSync restore from a Firefox bookmark

[2020-06-04 22:29] baraa272 opened #200 "High Ram usage during sync (firefox)"
**Describe the issue you are experiencing**
A clear and concise description of your issue:

during Sync the extension cause very high ram usage about 2gb of RAM and somewhat of cpu usage like 25%
this doesnt happen while extension disabled

**Screenshots**
If applicable, add screenshots to help explain your problem:
Screenshot included
![lol](https://user-images.githubusercontent.com/32843097/8381

[2020-06-05 17:12] nero120 commented on #199
@olavinto thanks for logging this, however there's nothing I can do except add an item in the FAQs.

Mozilla have not implemented the [necessary API](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/bookmarks/onImportBegan) to detect when a user natively imports bookmarks, so if they have a sync active in xBrowserSync it's going to detect every change and attempt to sync

[2020-06-05 17:12] #199 closed

[2020-06-05 17:21] nero120 commented on #200
@baraa272 your log shows a huge number of syncs (239) starting from `2020-06-02 21:30:59.300`. Be aware that the more simultaenous syncs you trigger the more memory is going to be consumed, and Firefox is not particularly efficient at the best of times in my experience.

I'm going to close this as there's not much I can do to reduce the amount of resources consumed if you trigger hundreds of syncs

[2020-06-05 17:21] #200 closed

[2020-06-05 17:26] nero120 commented on #197
@atwar1 xBrowserSync utilises the [cordova-plugin-qrscanner](https://github.com/bitpay/cordova-plugin-qrscanner) to provide scanning capability. Since this is not a general problem and seems to be an issue specific to your device there's not really much I can do unfortunately. I had a look through the issues on that repo and there's nothing currently referring to your device, you could try reporti

[2020-06-05 17:26] #197 closed

[2020-06-07 22:09] userdaphi opened #201 "Vivaldi sync issue"
If I sync from **Firefox** to **Vivaldi** -> Toolbar will get synced from FF to Vivaldi, but FF-bookmark menu will get trashed in Vivaldi
If I sync from **Vivaldi** to **Firefox** -> The whole set of bookmarks lands in the FF-Toolbar. FF-bookmark menu stays empty.

[2020-06-07 23:03] rodrigoswz commented on #201
Yeah, same thing here. Vivaldi is a mess with his bookmarks organization and Speed ​​Dial.

I don't know if this is something that should be fixed by the browser itself or if xBrowserSync can do something to fix it.

[2020-06-08 20:39] cjnaz commented on #195
Plus 1.

I offer this functional prototype, produced from [xbsjsonedit](https://github.com/cjnaz/xbsjsonedit).  Run the tool with the `--html <outfile.html>` switch.  It outputs a web page of tagged bookmarks, which can be opened in any desktop or android browser.

My usage of this file is to open it and use it as the launch page for my bookmarked pages.  Clicking on a bookmark link opens a new ta

[2020-06-08 20:48] cjnaz commented on #167
Reference issue #195 for a prototype web page view.

[2020-06-09 12:16] lrq3000 opened #202 "F-Droid link is dead"
**Describe the issue you are experiencing**
The link on [F-Droid is dead](https://f-droid.org/en/packages/com.xBrowserSync.android/).

[2020-06-09 17:22] cjnaz commented on #195
Example output from xbsjonedit (stripped down, rename to .html)...

[tagslist.txt](https://github.com/xbrowsersync/app/files/4753684/tagslist.txt)

[2020-06-10 08:52] nero120 commented on #202
Thanks @lrq3000, this is a known issue with the FDroid build and is still in the process of being resolved by the FDroid guys. Follow #165 for more info.

[2020-06-10 08:52] #202 closed

[2020-06-10 08:59] nero120 commented on #195
@danorul9 this functionality is partly covered by #167, however it won't be a local file but a web-based version of the app. At this time I consider any other way of xBrowserSync displaying bookmarks to be duplicated functionality so I do not intend to implement other solutions to the same problems already solved.

[2020-06-10 08:59] #195 closed

[2020-06-10 09:02] nero120 commented on #195
@cjnaz I appreciate the effort, however as I mention above I consider this to be duplicate functionality and since I have [much work to do](https://github.com/xbrowsersync/app/wiki/Roadmap) until v1 is considered feature complete I simply don't have time to consider alternatives at this point.

As you've already alluded, #167 will allow you to make xBrowserSync the home page of your browser so hop

[2020-06-10 09:31] nero120 commented on #201
Vivaldi is not currently supported! See #6 for more info.

[2020-06-10 09:31] #201 closed

[2020-06-10 10:12] lrq3000 commented on #202
Ah ok, it wasn't clear from the other issue that the build issues prevented the older packages from appearing on F-Droid, thank you for linking the other issue.

[2020-06-10 10:13] nero120 commented on #165
Please note, due to the broken build xBrowserSync is not currently available in the FDroid repo, will hopefully be resolved soon.

[2020-06-10 15:22] TneezyGH opened #203 "Vivaldi sync issue"
**Describe the issue you are experiencing**
A clear and concise description of your issue:

I can't edit my bookmarks via the Vivaldi bookmarks manager, if i delete something it just reappears in vivaldi bookmark manager. This is very annoying because i can't find how to create and delete folders on the extension itself and deleting bookmarks is a pain to do.

**How can the issue be reproduced?**

[2020-06-11 04:05] cjnaz commented on #195
Hi Rich, thanks again for all your work on this.
I was looking for some specifics on your directions for this, such as...
- Do the Firefox and Chrome plugins go away?
- What's the planned view and functionality of the web app?
- Security sounds like a new challenge since the server would be supporting numerous simultaneous users with their data unencrypted.

Do you have a design discussion page fo

[2020-06-11 12:41] nero120 commented on #195
Not at all, the web app is simply treated as another platform (alongside chrome, firefox and android).

It will be essentially identical to the android app, except without the hardware api integrations and hosted via the web.

All user data is stored on the web already since all xBrowserSync services are connected to the web so you can access them. All data on services is stored in encrypted form,

[2020-06-11 12:43] nero120 commented on #203
Vivaldi is not currently supported! See #6 for more info.

[2020-06-11 12:43] #203 closed

[2020-06-11 13:51] TneezyGH commented on #203
So it is planned for 1.6.0 ?

Thanks for your answer

[2020-06-11 13:53] nero120 commented on #203
It is planned for the 1.6.x version range, it may or may not be 1.6.0 specifically depending on my time allowances, but it is coming soon.

[2020-06-13 11:01] doulouz opened #204 "Sync error when sorting favourites or making multiple changes at one time"
I systematically get "Sync error - local data has been refreshed - redo changes" every time I sort favourites through other add-ins such as SuperSorter (but other sorting add-ins will result in same error).

I also get the same sync error if I attempt to make "too many" changes in my favourites at once i.e., create a new folder, move some favourites in the newly created folder than move that folde

[2020-06-13 11:14] laurin1 commented on #204
Yea, I did this yesterday, and today, every browser on every machine that I have using xBrowserSync is now doing "Sync error - local data has been refreshed - redo changes" and "Sync conflict detected" over and over again. I've tried restoring from backup, but that does not fix the issue.

[2020-06-13 11:47] laurin1 commented on #204
I found my issue - somehow, I was allowed to add a bookmark by the same name twice...or xBrowserSync duplicated it.

![image](https://user-images.githubusercontent.com/75857/84567934-b175fa80-ad41-11ea-87ab-a09ff9911598.png)

[2020-06-13 22:27] nero120 commented on #204
In v1.5.2, bookmark sorters are not supported and will cause sync issues (see #120). I'm also aware of the other issue regarding making multiple changes. Rest assured that I've already fixed these issues for the upcoming v1.5.3 and you'll be able to use bookmark sorters after that version is released. 😄

I'm going to close this as its a duplicate but feel free to respond if you have any further is

[2020-06-13 22:27] #204 closed

[2020-06-14 11:39] sellaoui commented on #13
PLEASE PUT THIS FEATURE ON TOP OF YOUR PRIORITITES _ THIS BY FAR THE MOST IMPORTANT AND GAME CHANGER FEATURE

[2020-06-16 21:28] nero120 commented on #165
The F-Droid build has now been fixed and a working apk has been published to the F-Droid repo! 🤗

[2020-06-16 21:28] #165 closed

[2020-06-16 22:00] josealberto4444 commented on #165
A promise is a promise.

![image](https://user-images.githubusercontent.com/13300909/84832339-5a1ba700-b02d-11ea-8cc4-43a12aab9d98.png)

Thanks for all the hard work. I kept an eye on the gitlab issue and I guess it was a real nightmare.

[2020-06-16 22:20] nero120 commented on #165
@josealberto4444 really appreciate that bud, thank you very much. Yeah it was a tricky one, fixing environmental issues when you don't have access to the environment is always fun! 😱

Sorry it took so long but we got there in the end!

[2020-06-20 04:12] kkuhle commented on #183
Same behavior with SwiftKey

[2020-06-22 11:45] aliabianco opened #205 "All Bookmarks are now duplicated"
Hi,

All Bookmarks are now duplicated.

Apreciate any suggetions,

Thanks

**Describe the issue you are experiencing**
A clear and concise description of your issue:

**How can the issue be reproduced?**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots to help explain your problem:

**Desktop br

[2020-06-23 18:10] nero120 commented on #183
I'm guessing it's the same with [AnySoftKeyboard](https://github.com/AnySoftKeyboard/AnySoftKeyboard)?

I can't replicate this sadly, my guess is it's specifically due to the way OnePlus sets the height of the visible screen area when the soft keyboard is present. Not something I can fix I don't think, sorry.

[2020-06-23 18:10] #183 closed

[2020-06-23 22:40] macapple194 opened #206 "Hide bookmark folder with password"
Include this feature on xBrowserSync (https://github.com/rharel/webext-private-bookmarks).
I think it may be a lot useful to have a folder that can be hidden if necessary, but included on sync service.

[2020-06-25 09:39] volosovich commented on #31
I'm using xBrowserSync on new Chromium-based Edge, and doesn't have any problem.
I guess we can close this issue.

[2020-06-25 13:05] awbushnell commented on #31
@volosovich @nero120  I am fine with that, I have had no issues.

[2020-06-25 13:14] nero120 commented on #31
@volosovich @awbushnell even though xBrowserSync currently functions on Chromium Edge with no apparent issues, it is not currently incuded in my testing cycle. Until it is we should keep this issue open so there's no confusion.

[2020-06-27 21:38] aelisya opened #208 "[Browser] Let us choose at the first configuration what folder we want to sync"
**Is your feature request related to a problem?**
A clear and concise description of what the problem is:

It's very annoying to have to sync all my bookmark since i only want one folder to be synced on the cloud

**Tell us about your idea**
Let us choose during the first configuration what is the "root" folder we want to sync.

[2020-06-28 17:43] kkuhle commented on #183
No worries! I guess it's rare as no one else has commented and you can't dupe.  I'll use the regular search view. Thanks for the terrific app!

[2020-06-29 14:03] nero120 commented on #208
#26 covers this functionality so I'll close this.

[2020-06-29 14:03] #208 closed

[2020-07-02 00:26] kainz opened #209 "Camera-less android devices can not be setup."
**Describe the issue you are experiencing**
The mobile xBrowserSync app should allow manual entry of a sync id in the event your device does not have a camera.

**How can the issue be reproduced?**
Steps to reproduce the behavior:
1. Go to 'xBrowserSync android app on new installanion'
2. Unable to setup sync w/o a camera

**Mobile device**
 - Device: Onyx Boox series android readers, likely other

[2020-07-02 06:27] nero120 commented on #209
@kainz I've already implemented this in dev and will be included in the upcoming release.

[2020-07-03 17:46] aelisya commented on #26
+1 it would also help the user of Vivaldi, since your extensions create is own folder on a way Vivaldi's user don't see it, and if they use the main folder bar, Vivaldi and the extension go crazy when you try to erase something from the bookmarks.

Profile folder will help them to create a profile Vivaldi (the time the browser will be officially supported)

[2020-07-06 09:15] DreClark commented on #158
I am having a similar issue when I try to move subfolders of bookmarks into a different subfolder, all of my changes refresh back to the original layout. This occurs in Chrome, Firefox, Brave and Edge (I know these two aren't officially supported yet).

[2020-07-06 10:30] nero120 commented on #158
@DreClark this issue has now been fixed and will be included in the upcoming release.

[2020-07-08 14:12] ralfgoerlitz commented on #162
I have grouped all my bookmarks into folders and transferred them directly into xBrowsersync.

If I save a bookmark on my mobile phone, I have to move it manually into the desired folder later in the browser. That could be done better. Thanks!

[2020-07-09 14:17] xocox commented on #158
Hello, just to mention this bug also affect Windows Chrome extension, thanks for your work

[2020-07-10 03:56] kpinel opened #210 "performance issues with DuckDuckGo plugin in Firefox"
**Describe the issue you are experiencing**
Opening xBrowserSync with DuckDuckGo extension enabled in Firefox caused a 15+ second lag before the bookmark search appears. The issue appears to resolve by disabling and re-enabling DuckDuckGo. xBrowserSync appears to be the only extension affected. I am disabling DuckDuckGo for now as it is not a huge priority for me.

**How can the issue be reproduce

[2020-07-11 15:34] dzmitry-lahoda opened #211 "p2p sync"
any sync version does not require central server. gun, webrtc, ipfs, syncthing.

[2020-07-14 03:14] trymeouteh opened #212 "Extension available on Android browser"
Please make the xBrowserSync extension for Chrome and Firefox be available on Android. This will allow you to easily add, edit and remove bookmarks within your mobile browser.

[2020-07-15 22:18] nero120 commented on #212
No plans to support mobile browsers, sorry.

[2020-07-15 22:18] #212 closed

[2020-07-15 22:18] nero120 commented on #205
No info provided.

[2020-07-15 22:18] #205 closed

[2020-07-16 07:33] maireanu opened #213 "Add a way to select witch bookmark folder are synced and witch not"
**Is your feature request related to a problem?**
A clear and concise description of what the problem is:

A way to select the bookmark folders that are synced and witch not

**Tell us about your idea**
Use screenshots and links to help illustrate if relevant:

[2020-07-16 17:03] nero120 commented on #213
Already covered by #26.

[2020-07-16 17:03] #213 closed

[2020-07-17 05:22] shuvashish76 opened #214 "Android Kiwi browser Support"
Kiwi is chromium based, & supports extensions. Is it possible to make bookmarks sync through xbrowsersync extension? currently not supporting, it stuck on "Syncing..." logo.

![photo_2020-07-17_10-57-23](https://user-images.githubusercontent.com/48226312/87751731-5a6db480-c81c-11ea-8e87-ca1e48f6ac59.jpg)

[2020-07-17 22:51] xpusostomos opened #215 "User interface disaster"
I've wasted multiple hours of my life trying to figure out how this thing is supposed to work, and I'm tired of it. The user interface is an utter disaster. I have no idea what I'm supposed to do, nothing I try works. What the fields mean, how to get sync working, who knows. And I'm an IT professional. Here's some advice: sit your grandma down in front of this and see how far they get. Nowhere is

[2020-07-18 05:17] nero120 commented on #215
Congratulations, you're the only one in thousands of users who thinks so.

[2020-07-18 05:17] #215 closed

[2020-07-18 11:47] nero120 commented on #214
Please search before raising issues, there's loads regarding Kiwi. Mobile browsers are not supported, use the xBrowserSync mobile app.

[2020-07-18 11:47] #214 closed

[2020-07-19 18:49] ElTopo opened #216 "Fuzzy search option"
**Is your feature request related to a problem?**
Not really a problem but surely will be nice if we have an option to turn on fuzzy search.

**Tell us about your idea**
For example, if "fuzzy search" is enabled, when the user types "cvoid", "covid" appears at the right part of the search bar as a button/link to click/tap on for quick correction, provided that the user already has "covid" in his b

[2020-07-20 12:35] nero120 commented on #209
Resolved by 659cf5701bea25c050f3ed6172150bd4331086c5.

[2020-07-20 12:37] nero120 commented on #108
Closing this as no longer relevant for this project.

[2020-07-20 12:37] #108 closed

[2020-07-20 16:33] Rami-Ha opened #218 "bookmarks.sync: [10110] LocalBookmarkNotFound"
**Describe the issue you are experiencing**
I keep getting this error across all browsers (Firefox, Chrome, Edge) - bookmarks.sync: [10110] LocalBookmarkNotFound - accompanied by this popup

![image](https://user-images.githubusercontent.com/31084955/87962443-352faf00-ca85-11ea-9381-1136087a9081.png)

**How can the issue be reproduced?**
It occurs on all of my browsers when I open them. The error

[2020-07-20 18:40] nero120 commented on #218
Please read the issue template and provide the information asked for or I'm closing this.

[2020-07-21 13:02] Rami-Ha commented on #218
My apologies. I've updated the issue. Thanks.

[2020-07-25 18:11] egabrum opened #219 "Firefox keywords and tags are lost (used for quick search)"
**Describe the issue you are experiencing**
Bookmark's keywords and tags are lost.

**How can the issue be reproduced?**
Steps to reproduce the behavior:
1. Open Firefox
2. Add bookmark:
    Name: Search Yubnub
    Location: https://yubnub.org/parser/parse?command=%s
    Tags: search
    Keyword: y
3. Sync, or wait until next sync.
4. Open the properties of the bookmark on Firefox
5: Error: Tags a

[2020-07-25 20:26] nero120 commented on #219
This is a [known issue](https://github.com/xbrowsersync/app/wiki/Known-issues) due to Firefox not implementing an API to access native bookmark tags (and descriptions). xBrowserSync warns you about this in the help content.

[2020-07-25 20:26] #219 closed

[2020-07-30 13:26] skydiverscott opened #220 "Support in Dissenter Browser"
Would like support in the Dissenter browser.  Is this on the road-map?  It is a Chromium based browser so support should be straightforward

[2020-07-30 13:26] #220 closed

[2020-07-30 16:41] bokov opened #221 "Extension reverts local Firefox folder or bookmark changes"
**Describe the issue you are experiencing**
A clear and concise description of your issue:

**How can the issue be reproduced?**
Steps to reproduce the behavior:
1. Launch Firefox (78.0.2 64-bit, PopOS Linux 18.04) (don't know if it matters, but the main other browser I sync with is Brave on my Android Moto G6 plus where I just share anything I want to sync with XbrowserSync app)
2. Try to save a

[2020-07-30 16:43] bokov commented on #221
It wasn't obvious from the title, but it looks like this is a duplicate of #218

[2020-07-31 08:45] viharm opened #222 "Multiple changes trigger full reset and resync"
### Issue description

Whenever I make many (sometimes even as low as two) changes to my bookmarks, the client triggers a full reset and resync of all bookmarks from the server. Am I doing something wrong? Is there a configuration setting I can change to fix this?

### Environment

#### API (server)

API service version: `1.1.10` (self hosted docker image).
MongoDB version: `4.2.0` (docker image).

[2020-07-31 10:04] protocolist commented on #222
@nero120 Many thanks

[2020-08-02 08:54] zhenkas opened #223 "Bookmarks "delete" is auto-reverted and failed to sync in Opera browser"
**Describe the issue you are experiencing**
I am trying to setup a sync between Opera and Chrome.
Opera browser supports Chrome extension, and looks like it is working except this issue.
Bookmarks "delete" is auto-reverted and failed to sync in Opera browser.
Bookmarks "add" works as expected.
**How can the issue be reproduced?**

Sync bookmarks from Opera to Chrome.
Make bookmark change in Chrome

[2020-08-02 09:09] emamontov opened #224 "Infinite sync between 3 browsers"
**Describe the issue you are experiencing**
Infinite sync between 3 browsers

**How can the issue be reproduced?**
I did the following setup:
Computer1: Chrome (account1)
Computer1: Opera(account2)
Computer2: Chrome (account1)

However after enabling sync on Computer2, it started to sync infinitely.
Note: Both Chrome browsers use the same google account that also sync bookmarks.

**Screenshots**
I

[2020-08-03 09:28] nero120 commented on #223
Opera is not currently supported, follow [this issue](https://github.com/xbrowsersync/app/issues/11) to be notified about updates.

[2020-08-03 09:28] #223 closed

[2020-08-03 09:28] nero120 commented on #224
Opera is not currently supported, follow [this issue](https://github.com/xbrowsersync/app/issues/11) to be notified about updates.

[2020-08-03 09:28] #224 closed

[2020-08-03 13:32] skydiverscott opened #225 "API Service admin portal"
Would like be able to see list of all individual sync ID, storage use and qty of sync'd browsers per sync ID on my API Docker server

[2020-08-10 20:16] Gortus opened #226 "xBrowserSync requires permission "Access your data for all websites", this should be optional as per Chrome"
**Describe the issue you are experiencing**
A clear and concise description of your issue:
xBrowserSync requires permission "Access your data for all websites"

**How can the issue be reproduced?**
Steps to reproduce the behavior:
1. Go to https://addons.mozilla.org/en-US/firefox/addon/xbs/
2. Scroll down to 'Permissions'
3. See permission "Access your data for all websites" listed

**Desktop brow

[2020-08-10 21:12] nero120 commented on #226
See [known issues](https://github.com/xbrowsersync/app/wiki/Known-issues), a Firefox [bug](bugzilla.mozilla.org/show_bug.cgi?id=1432083) prevented optional permissions from being implemented. This bug has now been resolved and so I'm switching on the optional permissions for Firefox in the upcoming release.

[2020-08-13 16:47] dmitry-radzevich commented on #11
+1 to see it working w/ Opera!

[2020-08-15 14:04] alfredonodo opened #227 "Synchronize additional data (tabs, extension, password, history, etc.)"
Hi,
what about synchronizing additional data (tabs, extension, password, history, etc.) across different browser?
Thank you

[2020-08-15 15:00] nero120 commented on #227
Check the [roadmap](https://github.com/xbrowsersync/app/wiki/Roadmap). Syncing of tabs and history will be implemented, but [not passwords](https://www.xbrowsersync.org/?faqkw=id%253A1#faqs). Syncing of other data is not ruled out but no plans at this time.

[2020-08-15 15:00] #227 closed

[2020-08-17 14:59] KROSF opened #228 "Accept self-signed SSL certificate issued by a non-public CA"
**Is your feature request related to a problem?**

I'm using my own CA to sign my SSL certificates. This CA is imported in the androids user "trusted credentials". This works perfect for apps via Chrome and other services I use - like bitwarden.

As far as I understand the support of user "trusted credentials" CAs needs to be enabled in the apps security policy:
[developer.android.com/training/art

[2020-08-19 21:40] KROSF commented on #228
Yesterday i build the branch v1.6.0 and didn't work, user certificates are still been invalid, then found [this](https://cordova.apache.org/docs/en/latest/guide/appdev/security/#self-signed-certificates) on cordova docs.

They don't recommend the use of Self-Signed Certificates. 😭

Maybe the issue should be closed.

[2020-08-19 21:43] nero120 commented on #228
@KROSF ok fair enough, thanks for trying it. Why don't you just use Let's Encrypt CA for your certs? That's what I use for my SSL certs. You can run [certbot](https://certbot.eff.org/) to automatically manage registering and renewing.

[2020-08-19 21:47] KROSF commented on #228
I did that using traefik with the dns challenge to avoid open ports.

Thanks.

[2020-08-19 21:48] nero120 commented on #228
Ok great, I'll rollback these changes.

[2020-08-19 21:48] #228 closed

[2020-08-22 14:44] David-Maisonave opened #230 "Last word ENTER not fully displayed"
**Describe the issue you are experiencing**
When icon is clicked, a pop down window is displayed with the first field populated with the following text:
Start typing to find bookmarks or just hit Ente
The last letter in the word `ENTER` is not displayed.

**How can the issue be reproduced?**
Steps to reproduce the behavior:
1. Click the xBrowserSync icon on the toolbar.
2. Read content of the firs

[2020-08-25 18:30] dznsm opened #231 "Bookmarking sites shared from Tor Browser on Android leaks URL over clearnet"
**Describe the issue you are experiencing**
Sharing site URL from Tor Browser, XBrowserSync fetches site metadata over clearnet before user approves and bookmark is synced, with end 2 end encryption, with a xbrowsersync server.

**How can the issue be reproduced?**
Steps to reproduce the behavior:
1. Go to a website using Tor Browser for android
2. Click on ⫶ menu button > share > Add Bookmark (wi

[2020-08-25 19:52] dznsm commented on #231
Possible fixes-
* Add a setting to allow users to disable the metadata fetch?  Likely good to have if doing either of the following solutions
* Detect if Tor Browser is installed and either dont fetch metadata, or ask whether XBrowserSync should connect to site to fetch metadata, on receiving the share. Think can do this via the share intent as tor browser has native bookmark functionality thats l

[2020-08-25 21:15] nero120 commented on #231
@dznsm as this is a [cordova](https://cordova.apache.org/) app I'm using the [inappbrowser](https://github.com/xbrowsersync/cordova-plugin-inappbrowser) plugin to fetch bookmark metadata in the background. Though I have some android programming experience I don't have enough knowledge or the time to devote to building a separate plugin to optionally fetch the data over tor.

Happy to go with optio

[2020-08-26 19:11] emale999 opened #232 "Selective Sync"
Select Bookmarks folders that shouldn't sync to other browsers.
This should be combined with another feature request to merge (and not delete) bookmarks

[2020-08-27 17:53] leopq commented on #128
Hi, there! Since I've started to work remotely due to COVID-19, I've started to work on different computers around the house during the work day, so keeping things synced became a "thing" for me. Yesterday, I've heard about the xBrowserSync and installed the extension on Chrome, Edge and Opera (On MacOS, Linux and Windows), so:

- So far, I'm simply amazed by the concerns with security and the *be

[2020-08-27 21:29] nero120 commented on #128
@leopq thank you for the kind comments! v1.6.0 is going to drop soon which features a completely refactored codebase using typescript and a better code structure, this will also mean other devs will find it much easier to contribute code to the project.

Any effort you can give to the project is gratefully accepted and appreciated. Ultimately if xBrowserSync cements its place as **the** open sourc

[2020-09-02 16:03] jdevl32 opened #233 ""Sort by Name" in browser does not trigger sync"
When using "Sort by Name" in the browser bookmark manager, it does not trigger a sync up (in the case of the order being affected).  Further, this usually causes errors some short time afterwards if continuing to make changes.  For instance, suppose in some bookmark folder I have (in original order):
B (folder)
E (bookmark)
A (folder)
C (bookmark)
D (folder)

If I then do "Sort by Name", the new o